In [5]:
import pandas as pd

# Especifica la ruta usando un raw string
file_path = r'C:\Users\victo\Downloads\enriched-world-city-listing-updated.csv'

# Cargar el archivo CSV
df = pd.read_csv(file_path)

# Mostrar las primeras filas para verificar la carga correcta
print(df.head())

   population       city     country      continent
0    37115000      Tokyo       Japan           Asia
1    33807400      Delhi       India           Asia
2    29867900   Shanghai       China           Asia
3    23935700      Dhaka  Bangladesh           Asia
4    22806700  Sao Paulo      Brazil  South America

In [7]:
!pip install deep-translator

Requirement already satisfied: deep-translator in c:\users\victo\anaconda3\lib\site-packages (1.11.4)
Requirement already satisfied: beautifulsoup4<5.0.0,>=4.9.1 in c:\users\victo\anaconda3\lib\site-packages (from deep-translator) (4.12.3)
Requirement already satisfied: requests<3.0.0,>=2.23.0 in c:\users\victo\anaconda3\lib\site-packages (from deep-translator) (2.32.2)
Requirement already satisfied: soupsieve>1.2 in c:\users\victo\anaconda3\lib\site-packages (from beautifulsoup4<5.0.0,>=4.9.1->deep-translator) (2.5)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\victo\anaconda3\lib\site-packages (from requests<3.0.0,>=2.23.0->deep-translator) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\victo\anaconda3\lib\site-packages (from requests<3.0.0,>=2.23.0->deep-translator) (2.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\victo\anaconda3\lib\site-packages (from requests<3.0.0,>=2.23.0->deep-translator) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\victo\anaconda3\lib\site-packages (from requests<3.0.0,>=2.23.0->deep-translator) (2024.8.30)

In [13]:
from deep_translator import GoogleTranslator
import pandas as pd

# Cargar el DataFrame
file_path = r'C:\Users\victo\Downloads\enriched-world-city-listing-updated.csv'
df = pd.read_csv(file_path)

# Traductor para español
translator = GoogleTranslator(source='auto', target='es')

# Función para manejar la traducción con manejo de errores
def translate_to_spanish(city_name):
    try:
        return translator.translate(city_name)
    except Exception as e:
        print(f"Error al traducir {city_name}: {e}")
        return city_name  # Retorna el nombre original si hay un error

# Aplicar la traducción
df['city_in_Spanish'] = df['city'].apply(translate_to_spanish)

# Mostrar el resultado para verificar
print(df[['city', 'city_in_Spanish']].head())

        city     city_in_Spanish
0      Tokyo               Tokio
1      Delhi               Delhi
2   Shanghai  Llevar a la fuerza
3      Dhaka               Dacca
4  Sao Paulo           San Pablo

In [15]:
# Traductor para chino simplificado
translator = GoogleTranslator(source='auto', target='zh-CN')

# Función para manejar la traducción con manejo de errores
def translate_to_chinese(city_name):
    try:
        return translator.translate(city_name)
    except Exception as e:
        print(f"Error al traducir {city_name}: {e}")
        return city_name  # Retorna el nombre original si hay un error

# Aplicar la traducción
df['city_in_Chinese'] = df['city'].apply(translate_to_chinese)

# Mostrar el resultado para verificar
print(df[['city', 'city_in_Chinese']].head())

        city city_in_Chinese
0      Tokyo              东京
1      Delhi              德里
2   Shanghai              上海
3      Dhaka              达卡
4  Sao Paulo             圣保罗

In [17]:
# Traductor para árabe
translator = GoogleTranslator(source='auto', target='ar')

# Función para manejar la traducción con manejo de errores
def translate_to_arabic(city_name):
    try:
        return translator.translate(city_name)
    except Exception as e:
        print(f"Error al traducir {city_name}: {e}")
        return city_name  # Retorna el nombre original si hay un error

# Aplicar la traducción
df['city_in_Arabic'] = df['city'].apply(translate_to_arabic)

# Mostrar el resultado para verificar
print(df[['city', 'city_in_Arabic']].head())

        city city_in_Arabic
0      Tokyo          طوكيو
1      Delhi           دلهي
2   Shanghai         شنغهاي
3      Dhaka            دكا
4  Sao Paulo      ساو باولو

In [18]:
# Traductor para indonesio
translator = GoogleTranslator(source='auto', target='id')

# Función para manejar la traducción con manejo de errores
def translate_to_indonesian(city_name): 
    try:
        return translator.translate(city_name)
    except Exception as e:
        print(f"Error al traducir {city_name}: {e}")
        return city_name  # Retorna el nombre original si hay un error

# Aplicar la traducción
df['city_in_Indonesian'] = df['city'].apply(translate_to_indonesian)

# Mostrar el resultado para verificar
print(df[['city', 'city_in_Indonesian']].head())

        city city_in_Indonesian
0      Tokyo              Tokyo
1      Delhi              Delhi
2   Shanghai      Kota Shanghai
3      Dhaka         Kota Dhaka
4  Sao Paulo          Sao Paulo

In [21]:
# Traductor para suajili
translator = GoogleTranslator(source='auto', target='sw')

# Función para manejar la traducción con manejo de errores
def translate_to_swahili(city_name):
    try:
        return translator.translate(city_name)
    except Exception as e:
        print(f"Error al traducir {city_name}: {e}")
        return city_name

# Aplicar la traducción
df['city_in_Swahili'] = df['city'].apply(translate_to_swahili)

# Mostrar el resultado para verificar
print(df[['city', 'city_in_Swahili']].head())

        city city_in_Swahili
0      Tokyo           Tokyo
1      Delhi           Delhi
2   Shanghai        Shanghai
3      Dhaka           Dhaka
4  Sao Paulo       São Paulo

In [23]:
# Traductor para tamil
translator = GoogleTranslator(source='auto', target='ta')

# Función para manejar la traducción con manejo de errores
def translate_to_tamil(city_name):
    try:
        return translator.translate(city_name)
    except Exception as e:
        print(f"Error al traducir {city_name}: {e}")
        return city_name

# Aplicar la traducción
df['city_in_Tamil'] = df['city'].apply(translate_to_tamil)

# Mostrar el resultado para verificar
print(df[['city', 'city_in_Tamil']].head())

        city city_in_Tamil
0      Tokyo      டோக்கியோ
1      Delhi        டெல்லி
2   Shanghai      ஷாங்காய்
3      Dhaka        டாக்கா
4  Sao Paulo     சாவ் பாலோ

In [24]:
# Traductor para turco
translator = GoogleTranslator(source='auto', target='tr')

# Función para manejar la traducción con manejo de errores
def translate_to_turkish(city_name):
    try:
        return translator.translate(city_name)
    except Exception as e:
        print(f"Error al traducir {city_name}: {e}")
        return city_name

# Aplicar la traducción
df['city_in_Turkish'] = df['city'].apply(translate_to_turkish)

# Mostrar el resultado para verificar
print(df[['city', 'city_in_Turkish']].head())

        city city_in_Turkish
0      Tokyo           Tokyo
1      Delhi           Delhi
2   Shanghai         Şanghay
3      Dhaka           Dakka
4  Sao Paulo       Sao Paulo

In [25]:
# Traductor para finés
translator = GoogleTranslator(source='auto', target='fi')

# Función para manejar la traducción con manejo de errores
def translate_to_finnish(city_name):
    try:
        return translator.translate(city_name)
    except Exception as e:
        print(f"Error al traducir {city_name}: {e}")
        return city_name

# Aplicar la traducción
df['city_in_Finnish'] = df['city'].apply(translate_to_finnish)

# Mostrar el resultado para verificar
print(df[['city', 'city_in_Finnish']].head())

        city city_in_Finnish
0      Tokyo           Tokio
1      Delhi           Delhi
2   Shanghai        Shanghai
3      Dhaka           Dhaka
4  Sao Paulo       São Paulo

In [27]:
# Traductor para japonés
translator = GoogleTranslator(source='auto', target='ja')

# Función para manejar la traducción con manejo de errores
def translate_to_japanese(city_name):
    try:
        return translator.translate(city_name)
    except Exception as e:
        print(f"Error al traducir {city_name}: {e}")
        return city_name

# Aplicar la traducción
df['city_in_Japanese'] = df['city'].apply(translate_to_japanese)

# Mostrar el resultado para verificar
print(df[['city', 'city_in_Japanese']].head())

        city city_in_Japanese
0      Tokyo               東京
1      Delhi              デリー
2   Shanghai               上海
3      Dhaka              ダッカ
4  Sao Paulo            サンパウロ

In [28]:
# Traductor para coreano
translator = GoogleTranslator(source='auto', target='ko')

# Función para manejar la traducción con manejo de errores
def translate_to_korean(city_name):
    try:
        return translator.translate(city_name)
    except Exception as e:
        print(f"Error al traducir {city_name}: {e}")
        return city_name

# Aplicar la traducción
df['city_in_Korean'] = df['city'].apply(translate_to_korean)

# Mostrar el resultado para verificar
print(df[['city', 'city_in_Korean']].head())

        city city_in_Korean
0      Tokyo             도쿄
1      Delhi             델리
2   Shanghai            상하이
3      Dhaka             다카
4  Sao Paulo           상파울루

In [29]:
# Traductor para vietnamita
translator = GoogleTranslator(source='auto', target='vi')

# Función para manejar la traducción con manejo de errores
def translate_to_vietnamese(city_name):
    try:
        return translator.translate(city_name)
    except Exception as e:
        print(f"Error al traducir {city_name}: {e}")
        return city_name

# Aplicar la traducción
df['city_in_Vietnamese'] = df['city'].apply(translate_to_vietnamese)

# Mostrar el resultado para verificar
print(df[['city', 'city_in_Vietnamese']].head())

        city city_in_Vietnamese
0      Tokyo              Tokyo
1      Delhi              Đê-li
2   Shanghai         Thượng Hải
3      Dhaka             Đắc-ca
4  Sao Paulo          Sao Paulo

In [30]:
# Traductor para tailandés
translator = GoogleTranslator(source='auto', target='th')

# Función para manejar la traducción con manejo de errores
def translate_to_thai(city_name):
    try:
        return translator.translate(city_name)
    except Exception as e:
        print(f"Error al traducir {city_name}: {e}")
        return city_name

# Aplicar la traducción
df['city_in_Thai'] = df['city'].apply(translate_to_thai)

# Mostrar el resultado para verificar
print(df[['city', 'city_in_Thai']].head())

        city city_in_Thai
0      Tokyo      โตเกียว
1      Delhi         เดลี
2   Shanghai    เซี่ยงไฮ้
3      Dhaka         ธากา
4  Sao Paulo     เซาเปาโล

In [37]:
import pandas as pd

# Asegurarse de cargar el DataFrame original si no está ya cargado
file_path = r'C:\Users\victo\Downloads\enriched-world-city-listing-updated.csv'
df_original = pd.read_csv(file_path)

# Suponiendo que `df` es el DataFrame donde has añadido las traducciones
# Combinar el DataFrame original con las nuevas columnas de traducciones
# Asegúrate de que ambos DataFrames estén alineados por índice si los índices representan las mismas entidades

df_combined = pd.concat([df_original, df[['city_in_Spanish', 'city_in_Chinese', 'city_in_Arabic', 'city_in_Indonesian', 'city_in_Swahili', 
                                          'city_in_Tamil', 'city_in_Turkish', 'city_in_Finnish', 'city_in_Japanese', 
                                          'city_in_Korean', 'city_in_Vietnamese', 'city_in_Thai']]], axis=1)

# Guardar el DataFrame combinado en un nuevo archivo CSV
output_file_path = r'C:\Users\victo\Downloads\enriched-world-city-listing-complete.csv'
df_combined.to_csv(output_file_path, index=False)

# Verificar mostrando las primeras filas del DataFrame combinado
print(df_combined.head())

   population       city     country      continent     city_in_Spanish  \
0    37115000      Tokyo       Japan           Asia               Tokio
1    33807400      Delhi       India           Asia               Delhi
2    29867900   Shanghai       China           Asia  Llevar a la fuerza
3    23935700      Dhaka  Bangladesh           Asia               Dacca
4    22806700  Sao Paulo      Brazil  South America           San Pablo

  city_in_Chinese city_in_Arabic city_in_Indonesian city_in_Swahili  \
0              东京          طوكيو              Tokyo           Tokyo
1              德里           دلهي              Delhi           Delhi
2              上海         شنغهاي      Kota Shanghai        Shanghai
3              达卡            دكا         Kota Dhaka           Dhaka
4             圣保罗      ساو باولو          Sao Paulo       São Paulo

  city_in_Tamil city_in_Turkish city_in_Finnish city_in_Japanese  \
0      டோக்கியோ           Tokyo           Tokio               東京
1        டெல்லி           Delhi           Delhi              デリー
2      ஷாங்காய்         Şanghay        Shanghai               上海
3        டாக்கா           Dakka           Dhaka              ダッカ
4     சாவ் பாலோ       Sao Paulo       São Paulo            サンパウロ

  city_in_Korean city_in_Vietnamese city_in_Thai
0             도쿄              Tokyo      โตเกียว
1             델리              Đê-li         เดลี
2            상하이         Thượng Hải    เซี่ยงไฮ้
3             다카             Đắc-ca         ธากา
4           상파울루          Sao Paulo     เซาเปาโล

In [41]:
from deep_translator import GoogleTranslator

# Cargar el DataFrame modificado si no está ya cargado
import pandas as pd
file_path = r'C:\Users\victo\Downloads\enriched-world-city-listing-complete.csv'
df = pd.read_csv(file_path)

In [43]:
# Traductor para volver al inglés desde español
translator = GoogleTranslator(source='auto', target='en')

# Función para manejar la back translation con manejo de errores
def back_translate_to_english(city_name):
    try:
        return translator.translate(city_name)
    except Exception as e:
        print(f"Error al hacer back translation de {city_name}: {e}")
        return city_name  # Retorna el nombre original si hay un error

# Aplicar la back translation
df['city_from_Spanish_to_English'] = df['city_in_Spanish'].apply(back_translate_to_english)

# Mostrar el resultado para verificar
print(df[['city', 'city_in_Spanish', 'city_from_Spanish_to_English']].head())

        city     city_in_Spanish city_from_Spanish_to_English
0      Tokyo               Tokio                        Tokio
1      Delhi               Delhi                        Delhi
2   Shanghai  Llevar a la fuerza                    Carry off
3      Dhaka               Dacca                        Dacca
4  Sao Paulo           San Pablo                   Saint Paul

In [44]:
# Traductor para volver al inglés desde chino
translator = GoogleTranslator(source='auto', target='en')

# Aplicar la back translation
df['city_from_Chinese_to_English'] = df['city_in_Chinese'].apply(back_translate_to_english)

# Mostrar el resultado para verificar
print(df[['city', 'city_in_Chinese', 'city_from_Chinese_to_English']].head())

        city city_in_Chinese city_from_Chinese_to_English
0      Tokyo              东京                        Tokyo
1      Delhi              德里                        Delhi
2   Shanghai              上海                     Shanghai
3      Dhaka              达卡                        Dhaka
4  Sao Paulo             圣保罗                    Sao Paulo

In [45]:
# Traductor para volver al inglés desde árabe
translator = GoogleTranslator(source='auto', target='en')

# Aplicar la back translation
df['city_from_Arabic_to_English'] = df['city_in_Arabic'].apply(back_translate_to_english)

# Mostrar el resultado para verificar
print(df[['city', 'city_in_Arabic', 'city_from_Arabic_to_English']].head())

        city city_in_Arabic city_from_Arabic_to_English
0      Tokyo          طوكيو                       Tokyo
1      Delhi           دلهي                       Delhi
2   Shanghai         شنغهاي                    Shanghai
3      Dhaka            دكا                       Dhaka
4  Sao Paulo      ساو باولو                   Sao Paulo

In [49]:
# Traductor para volver al inglés desde indonesio
translator = GoogleTranslator(source='auto', target='en')

# Aplicar la back translation
df['city_from_Indonesian_to_English'] = df['city_in_Indonesian'].apply(back_translate_to_english)

# Mostrar el resultado para verificar
print(df[['city', 'city_in_Indonesian', 'city_from_Indonesian_to_English']].head())

        city city_in_Indonesian city_from_Indonesian_to_English
0      Tokyo              Tokyo                           Tokyo
1      Delhi              Delhi                           Delhi
2   Shanghai      Kota Shanghai                   Shanghai City
3      Dhaka         Kota Dhaka                      Dhaka City
4  Sao Paulo          Sao Paulo                       São Paulo

In [50]:
# Traductor para volver al inglés desde suajili
translator = GoogleTranslator(source='auto', target='en')

# Aplicar la back translation
df['city_from_Swahili_to_English'] = df['city_in_Swahili'].apply(back_translate_to_english)

# Mostrar el resultado para verificar
print(df[['city', 'city_in_Swahili', 'city_from_Swahili_to_English']].head())

        city city_in_Swahili city_from_Swahili_to_English
0      Tokyo           Tokyo                        Tokyo
1      Delhi           Delhi                        Delhi
2   Shanghai        Shanghai                     Shanghai
3      Dhaka           Dhaka                        Dhaka
4  Sao Paulo       São Paulo                    São Paulo

In [51]:
# Traductor para volver al inglés desde tamil
translator = GoogleTranslator(source='auto', target='en')

# Aplicar la back translation
df['city_from_Tamil_to_English'] = df['city_in_Tamil'].apply(back_translate_to_english)

# Mostrar el resultado para verificar
print(df[['city', 'city_in_Tamil', 'city_from_Tamil_to_English']].head())

        city city_in_Tamil city_from_Tamil_to_English
0      Tokyo      டோக்கியோ                      Tokyo
1      Delhi        டெல்லி                      Delhi
2   Shanghai      ஷாங்காய்                   Shanghai
3      Dhaka        டாக்கா                      Dhaka
4  Sao Paulo     சாவ் பாலோ                  Sao Paulo

In [52]:
# Traductor para volver al inglés desde turco
translator = GoogleTranslator(source='auto', target='en')

# Aplicar la back translation
df['city_from_Turkish_to_English'] = df['city_in_Turkish'].apply(back_translate_to_english)

# Mostrar el resultado para verificar
print(df[['city', 'city_in_Turkish', 'city_from_Turkish_to_English']].head())

        city city_in_Turkish city_from_Turkish_to_English
0      Tokyo           Tokyo                        Tokyo
1      Delhi           Delhi                        Delhi
2   Shanghai         Şanghay                     Shanghai
3      Dhaka           Dakka                        Dhaka
4  Sao Paulo       Sao Paulo                    São Paulo

In [57]:
# Traductor para volver al inglés desde finés
translator = GoogleTranslator(source='auto', target='en')

# Aplicar la back translation
df['city_from_Finnish_to_English'] = df['city_in_Finnish'].apply(back_translate_to_english)

# Mostrar el resultado para verificar
print(df[['city', 'city_in_Finnish', 'city_from_Finnish_to_English']].head())

        city city_in_Finnish city_from_Finnish_to_English
0      Tokyo           Tokio                        Tokio
1      Delhi           Delhi                        Delhi
2   Shanghai        Shanghai                     Shanghai
3      Dhaka           Dhaka                        Dhaka
4  Sao Paulo       São Paulo                    São Paulo

In [58]:
# Traductor para volver al inglés desde japonés
translator = GoogleTranslator(source='auto', target='en')

# Aplicar la back translation
df['city_from_Japanese_to_English'] = df['city_in_Japanese'].apply(back_translate_to_english)

# Mostrar el resultado para verificar
print(df[['city', 'city_in_Japanese', 'city_from_Japanese_to_English']].head())

        city city_in_Japanese city_from_Japanese_to_English
0      Tokyo               東京                         Tokyo
1      Delhi              デリー                         Delhi
2   Shanghai               上海                      Shanghai
3      Dhaka              ダッカ                         Dhaka
4  Sao Paulo            サンパウロ                     Sao Paulo

In [59]:
# Traductor para volver al inglés desde coreano
translator = GoogleTranslator(source='auto', target='en')

# Aplicar la back translation
df['city_from_Korean_to_English'] = df['city_in_Korean'].apply(back_translate_to_english)

# Mostrar el resultado para verificar
print(df[['city', 'city_in_Korean', 'city_from_Korean_to_English']].head())

        city city_in_Korean city_from_Korean_to_English
0      Tokyo             도쿄                       Tokyo
1      Delhi             델리                       Delhi
2   Shanghai            상하이                    Shanghai
3      Dhaka             다카                        Taka
4  Sao Paulo           상파울루                   Sao Paulo

In [60]:
# Traductor para volver al inglés desde vietnamita
translator = GoogleTranslator(source='auto', target='en')

# Aplicar la back translation
df['city_from_Vietnamese_to_English'] = df['city_in_Vietnamese'].apply(back_translate_to_english)

# Mostrar el resultado para verificar
print(df[['city', 'city_in_Vietnamese', 'city_from_Vietnamese_to_English']].head())

        city city_in_Vietnamese city_from_Vietnamese_to_English
0      Tokyo              Tokyo                           Tokyo
1      Delhi              Đê-li                           Delhi
2   Shanghai         Thượng Hải                        Shanghai
3      Dhaka             Đắc-ca                          Dak-ca
4  Sao Paulo          Sao Paulo                       São Paulo

In [66]:
# Traductor para volver al inglés desde tailandés
translator = GoogleTranslator(source='auto', target='en')

# Aplicar la back translation
df['city_from_Thai_to_English'] = df['city_in_Thai'].apply(back_translate_to_english)

# Mostrar el resultado para verificar
print(df[['city', 'city_in_Thai', 'city_from_Thai_to_English']].head())

        city city_in_Thai city_from_Thai_to_English
0      Tokyo      โตเกียว                     Tokyo
1      Delhi         เดลี                     Delhi
2   Shanghai    เซี่ยงไฮ้                  Shanghai
3      Dhaka         ธากา                     Dhaka
4  Sao Paulo     เซาเปาโล                 Sao Paulo

In [68]:
# Guardar el DataFrame final con todas las back translations
df.to_csv(r'C:\Users\victo\Downloads\enriched-world-city-listing-final.csv', index=False)