In [20]:
import pandas as pd

# Ruta con doble backslash
ruta = "C:\\Users\\victo\\Downloads\\enriched-world-city-listing-complete.csv"

# Cargar CSV
df_cities = pd.read_csv(ruta)

print(df_cities.head())

   population       city     country      continent     city_in_Spanish  \
0    37115000      Tokyo       Japan           Asia               Tokio
1    33807400      Delhi       India           Asia               Delhi
2    29867900   Shanghai       China           Asia  Llevar a la fuerza
3    23935700      Dhaka  Bangladesh           Asia               Dacca
4    22806700  Sao Paulo      Brazil  South America           San Pablo

  city_in_Chinese city_in_Arabic city_in_Indonesian city_in_Swahili  \
0              ä¸œäº¬          Ø·ÙˆÙƒÙŠÙˆ              Tokyo           Tokyo
1              å¾·é‡Œ           Ø¯Ù„Ù‡ÙŠ              Delhi           Delhi
2              ä¸Šæµ·         Ø´Ù†ØºÙ‡Ø§ÙŠ      Kota Shanghai        Shanghai
3              è¾¾å¡            Ø¯ÙƒØ§         Kota Dhaka           Dhaka
4             åœ£ä¿ç½—      Ø³Ø§Ùˆ Ø¨Ø§ÙˆÙ„Ùˆ          Sao Paulo       SÃ£o Paulo

  city_in_Tamil city_in_Turkish city_in_Finnish city_in_Japanese  \
0      à®Ÿà¯‹à®•à¯à®•à®¿à®¯à¯‹           Tokyo           Tokio               æ±äº¬
1        à®Ÿà¯†à®²à¯à®²à®¿           Delhi           Delhi              ãƒ‡ãƒªãƒ¼
2      à®·à®¾à®™à¯à®•à®¾à®¯à¯         Åanghay        Shanghai               ä¸Šæµ·
3        à®Ÿà®¾à®•à¯à®•à®¾           Dakka           Dhaka              ãƒ€ãƒƒã‚«
4     à®šà®¾à®µà¯ à®ªà®¾à®²à¯‹       Sao Paulo       SÃ£o Paulo            ã‚µãƒ³ãƒ‘ã‚¦ãƒ­

  city_in_Korean city_in_Vietnamese city_in_Thai
0             ë„ì¿„              Tokyo      à¹‚à¸•à¹€à¸à¸µà¸¢à¸§
1             ë¸ë¦¬              ÄÃª-li         à¹€à¸”à¸¥à¸µ
2            ìƒí•˜ì´         ThÆ°á»£ng Háº£i    à¹€à¸‹à¸µà¹ˆà¸¢à¸‡à¹„à¸®à¹‰
3             ë‹¤ì¹´             Äáº¯c-ca         à¸˜à¸²à¸à¸²
4           ìƒíŒŒìš¸ë£¨          Sao Paulo     à¹€à¸‹à¸²à¹€à¸›à¸²à¹‚à¸¥

In [21]:
import pandas as pd

# ğŸ”¹ 1. Cargar el archivo que contiene las columnas adicionales
file_path_extra = r'C:\Users\victo\Downloads\enriched-world-city-listing-rus-por-fr.csv'
df_extra = pd.read_csv(file_path_extra)

# ğŸ”¹ 2. Seleccionar solo las columnas que necesitas
df_extra_subset = df_extra[['city', 'city_in_Portuguese', 'city_in_French']]

# ğŸ”¹ 3. Hacer el merge con df_cities por la columna 'city'
df_cities = df_cities.merge(df_extra_subset, on='city', how='left')

# ğŸ”¹ 4. Verificar que las columnas se agregaron correctamente
print("\nâœ… Columnas 'city_in_Portuguese' y 'city_in_French' agregadas a df_cities:")
print(df_cities[['city', 'city_in_Portuguese', 'city_in_French']].head(20))

âœ… Columnas 'city_in_Portuguese' y 'city_in_French' agregadas a df_cities:
            city city_in_Portuguese city_in_French
0          Tokyo             TÃ³quio          Tokyo
1          Delhi              DÃ©lhi          Delhi
2       Shanghai             Xangai       Shanghai
3          Dhaka              Dhaka          Dhaka
4      Sao Paulo          Sao Paulo      SÃ£o Paulo
5          Cairo              Cairo          Caire
6    Mexico City   Cidade do MÃ©xico        Mexique
7        Beijing             Pequim          PÃ©kin
8         Mumbai             Mumbai         Mumbai
9          Osaka              Osaka          Osaka
10     Chongqing          Chongqing      Chongqing
11       Karachi            Carachi        Karachi
12      Kinshasa           Kinshasa       Kinshasa
13         Lagos              Lagos          Lagos
14      Istanbul           Istambul       Istanbul
15  Buenos Aires       Buenos Aires   Buenos Aires
16       Kolkata            CalcutÃ¡        Kolkata
17        Manila             Manila        Manille
18     Guangzhou          Guangzhou      Guangzhou
19       Tianjin            Tianjin        Tianjin

In [22]:
print(df_cities.head())

   population       city     country      continent     city_in_Spanish  \
0    37115000      Tokyo       Japan           Asia               Tokio
1    33807400      Delhi       India           Asia               Delhi
2    29867900   Shanghai       China           Asia  Llevar a la fuerza
3    23935700      Dhaka  Bangladesh           Asia               Dacca
4    22806700  Sao Paulo      Brazil  South America           San Pablo

  city_in_Chinese city_in_Arabic city_in_Indonesian city_in_Swahili  \
0              ä¸œäº¬          Ø·ÙˆÙƒÙŠÙˆ              Tokyo           Tokyo
1              å¾·é‡Œ           Ø¯Ù„Ù‡ÙŠ              Delhi           Delhi
2              ä¸Šæµ·         Ø´Ù†ØºÙ‡Ø§ÙŠ      Kota Shanghai        Shanghai
3              è¾¾å¡            Ø¯ÙƒØ§         Kota Dhaka           Dhaka
4             åœ£ä¿ç½—      Ø³Ø§Ùˆ Ø¨Ø§ÙˆÙ„Ùˆ          Sao Paulo       SÃ£o Paulo

  city_in_Tamil city_in_Turkish city_in_Finnish city_in_Japanese  \
0      à®Ÿà¯‹à®•à¯à®•à®¿à®¯à¯‹           Tokyo           Tokio               æ±äº¬
1        à®Ÿà¯†à®²à¯à®²à®¿           Delhi           Delhi              ãƒ‡ãƒªãƒ¼
2      à®·à®¾à®™à¯à®•à®¾à®¯à¯         Åanghay        Shanghai               ä¸Šæµ·
3        à®Ÿà®¾à®•à¯à®•à®¾           Dakka           Dhaka              ãƒ€ãƒƒã‚«
4     à®šà®¾à®µà¯ à®ªà®¾à®²à¯‹       Sao Paulo       SÃ£o Paulo            ã‚µãƒ³ãƒ‘ã‚¦ãƒ­

  city_in_Korean city_in_Vietnamese city_in_Thai city_in_Portuguese  \
0             ë„ì¿„              Tokyo      à¹‚à¸•à¹€à¸à¸µà¸¢à¸§             TÃ³quio
1             ë¸ë¦¬              ÄÃª-li         à¹€à¸”à¸¥à¸µ              DÃ©lhi
2            ìƒí•˜ì´         ThÆ°á»£ng Háº£i    à¹€à¸‹à¸µà¹ˆà¸¢à¸‡à¹„à¸®à¹‰             Xangai
3             ë‹¤ì¹´             Äáº¯c-ca         à¸˜à¸²à¸à¸²              Dhaka
4           ìƒíŒŒìš¸ë£¨          Sao Paulo     à¹€à¸‹à¸²à¹€à¸›à¸²à¹‚à¸¥          Sao Paulo

  city_in_French
0          Tokyo
1          Delhi
2       Shanghai
3          Dhaka
4      SÃ£o Paulo

In [23]:
# ğŸ”¹ Cargar posiciones finales en inglÃ©s
df_pos_en = pd.read_csv('posiciones_ciudades_final_EN.csv')

# ğŸ”¹ Merge limpio
df_cities = df_cities.merge(
    df_pos_en.rename(columns={'palabra': 'city', 'posiciÃ³n': 'en_posiciones'}), 
    on='city', 
    how='left'
)

# ğŸ”¹ Revisar faltantes
missing = df_cities[df_cities['en_posiciones'].isin(['none', 0]) | df_cities['en_posiciones'].isna()]

print("\nâœ… DataFrame final con 'en_posiciones' (ya sin duplicados):\n")
print(df_cities.head(20))

print(f"\nâš ï¸ Ciudades sin posiciÃ³n asignada (total: {len(missing)}):\n")
print(missing[['city', 'en_posiciones']])

âœ… DataFrame final con 'en_posiciones' (ya sin duplicados):

    population          city      country      continent     city_in_Spanish  \
0     37115000         Tokyo        Japan           Asia               Tokio
1     33807400         Delhi        India           Asia               Delhi
2     29867900      Shanghai        China           Asia  Llevar a la fuerza
3     23935700         Dhaka   Bangladesh           Asia               Dacca
4     22806700     Sao Paulo       Brazil  South America           San Pablo
5     22623900         Cairo        Egypt         Africa            El Cairo
6     22505300   Mexico City       Mexico  North America    Ciudad de MÃ©xico
7     22189100       Beijing        China           Asia               PekÃ­n
8     21673100        Mumbai        India           Asia              Bombay
9     18967500         Osaka        Japan           Asia               Osaka
10    17773900     Chongqing        China           Asia           Chongqing
11    17648600       Karachi     Pakistan           Asia             Karachi
12    17032300      Kinshasa     DR Congo         Africa            Kinshasa
13    16536000         Lagos      Nigeria         Africa               Lagos
14    16047400      Istanbul       Turkey           Asia            Estanbul
15    15618300  Buenos Aires    Argentina  South America        Buenos Aires
16    15570800       Kolkata        India           Asia             Calcuta
17    14942000        Manila  Philippines           Asia              Manila
18    14590100     Guangzhou        China           Asia              CantÃ³n
19    14470900       Tianjin        China           Asia             Tianjin

   city_in_Chinese city_in_Arabic city_in_Indonesian city_in_Swahili  \
0               ä¸œäº¬          Ø·ÙˆÙƒÙŠÙˆ              Tokyo           Tokyo
1               å¾·é‡Œ           Ø¯Ù„Ù‡ÙŠ              Delhi           Delhi
2               ä¸Šæµ·         Ø´Ù†ØºÙ‡Ø§ÙŠ      Kota Shanghai        Shanghai
3               è¾¾å¡            Ø¯ÙƒØ§         Kota Dhaka           Dhaka
4              åœ£ä¿ç½—      Ø³Ø§Ùˆ Ø¨Ø§ÙˆÙ„Ùˆ          Sao Paulo       SÃ£o Paulo
5               å¼€ç½—        Ø§Ù„Ù‚Ø§Ù‡Ø±Ø©              Kairo           Cairo
6             å¢¨è¥¿å“¥åŸ   Ù…Ø¯ÙŠÙ†Ø© Ù…ÙƒØ³ÙŠÙƒÙˆ       Kota Meksiko     Mexico City
7               åŒ—äº¬           Ø¨ÙƒÙŠÙ†       Kota Beijing         Beijing
8               å­Ÿä¹°         Ù…ÙˆÙ…Ø¨Ø§ÙŠ             Mumbai          Mumbai
9               å¤§é˜ª         Ø£ÙˆØ³Ø§ÙƒØ§              Osaka           Osaka
10              é‡åº†     ØªØ´ÙˆÙ†ØºØªØ´ÙŠÙ†Øº     Kota Chongqing       Chongqing
11             å¡æ‹‰å¥‡         ÙƒØ±Ø§ØªØ´ÙŠ            Karachi         Karachi
12             é‡‘æ²™è¨        ÙƒÙŠÙ†Ø´Ø§Ø³Ø§      Kota Kinshasa        Kinshasa
13             æ‹‰å„æ–¯          Ù„Ø§ØºÙˆØ³         Kota Lagos           Lagos
14           ä¼Šæ–¯å¦å¸ƒå°”        Ø§Ø³Ø·Ù†Ø¨ÙˆÙ„           Istanbul        Istanbul
15         å¸ƒå®œè¯ºæ–¯è‰¾åˆ©æ–¯     Ø¨ÙˆÙŠÙ†Ø³ Ø¢ÙŠØ±Ø³       Buenos Aires    Buenos Aires
16            åŠ å°”å„ç­”        ÙƒÙˆÙ„ÙƒØ§ØªØ§            Kolkata         Kolkata
17             é©¬å°¼æ‹‰         Ù…Ø§Ù†ÙŠÙ„Ø§        Kota Manila          Manila
18              å¹¿å·       Ù‚ÙˆØ§Ù†ØºØªØ´Ùˆ     Kota Guangzhou       Guangzhou
19              å¤©æ´¥        ØªÙŠØ§Ù†Ø¬ÙŠÙ†       Kota Tianjin         Tianjin

     city_in_Tamil city_in_Turkish city_in_Finnish city_in_Japanese  \
0         à®Ÿà¯‹à®•à¯à®•à®¿à®¯à¯‹           Tokyo           Tokio               æ±äº¬
1           à®Ÿà¯†à®²à¯à®²à®¿           Delhi           Delhi              ãƒ‡ãƒªãƒ¼
2         à®·à®¾à®™à¯à®•à®¾à®¯à¯         Åanghay        Shanghai               ä¸Šæµ·
3           à®Ÿà®¾à®•à¯à®•à®¾           Dakka           Dhaka              ãƒ€ãƒƒã‚«
4        à®šà®¾à®µà¯ à®ªà®¾à®²à¯‹       Sao Paulo       SÃ£o Paulo            ã‚µãƒ³ãƒ‘ã‚¦ãƒ­
5           à®•à¯†à®¯à¯à®°à¯‹          Kahire           Kairo              ã‚«ã‚¤ãƒ­
6   à®®à¯†à®•à¯à®šà®¿à®•à¯‹ à®¨à®•à®°à®®à¯   Meksika Åehri     Mexico City          ãƒ¡ã‚­ã‚·ã‚³ã‚·ãƒ†ã‚£
7         à®ªà¯†à®¯à¯à®œà®¿à®™à¯           Pekin          Peking               åŒ—äº¬
8           à®®à¯à®®à¯à®ªà¯ˆ          Bombay          Mumbai             ãƒ ãƒ³ãƒã‚¤
9            à®’à®šà®¾à®•à®¾           Osaka           Osaka               å¤§é˜ª
10        à®šà¯‹à®™à¯à®•à®¿à®™à¯        Ã‡ongÃ§ing       Chongqing               é‡æ…¶
11         à®•à®°à®¾à®šà¯à®šà®¿          KaraÃ§i         Karachi              ã‚«ãƒ©ãƒ
12        à®•à®¿à®©à¯à®·à®¾à®šà®¾         KinÅŸasa        Kinshasa            ã‚­ãƒ³ã‚·ãƒ£ã‚µ
13          à®²à®¾à®•à¯‹à®¸à¯           Lagos           Lagos              ãƒ©ã‚´ã‚¹
14     à®‡à®¸à¯à®¤à®¾à®©à¯à®ªà¯à®²à¯        Ä°stanbul        Istanbul          ã‚¤ã‚¹ã‚¿ãƒ³ãƒ–ãƒ¼ãƒ«
15  à®ªà®¿à®¯à¯‚à®©à®¸à¯ à®…à®¯à®°à¯à®¸à¯    Buenos Aires    Buenos Aires         ãƒ–ã‚¨ãƒã‚¹ã‚¢ã‚¤ãƒ¬ã‚¹
16       à®•à¯Šà®²à¯à®•à®¤à¯à®¤à®¾         KalkÃ¼ta         Kolkata             ã‚³ãƒ«ã‚«ã‚¿
17           à®®à®£à®¿à®²à®¾          Manila          Manila              ãƒãƒ‹ãƒ©
18        à®•à¯à®µà®¾à®™à¯à®šà¯‹       Guangzhou       Guangzhou               åºƒå·
19      à®¤à®¿à®¯à®¾à®©à¯à®œà®¿à®©à¯         Tianjin         Tianjin               å¤©æ´¥

   city_in_Korean city_in_Vietnamese   city_in_Thai city_in_Portuguese  \
0              ë„ì¿„              Tokyo        à¹‚à¸•à¹€à¸à¸µà¸¢à¸§             TÃ³quio
1              ë¸ë¦¬              ÄÃª-li           à¹€à¸”à¸¥à¸µ              DÃ©lhi
2             ìƒí•˜ì´         ThÆ°á»£ng Háº£i      à¹€à¸‹à¸µà¹ˆà¸¢à¸‡à¹„à¸®à¹‰             Xangai
3              ë‹¤ì¹´             Äáº¯c-ca           à¸˜à¸²à¸à¸²              Dhaka
4            ìƒíŒŒìš¸ë£¨          Sao Paulo       à¹€à¸‹à¸²à¹€à¸›à¸²à¹‚à¸¥          Sao Paulo
5             ì¹´ì´ë¡œ              Cairo           à¹„à¸„à¹‚à¸£              Cairo
6          ë©•ì‹œì½” ì‹œí‹°   ThÃ nh phá»‘ Mexico  à¹€à¸¡à¹‡à¸à¸‹à¸´à¹‚à¸à¸‹à¸´à¸•à¸µà¹‰   Cidade do MÃ©xico
7             ë² ì´ì§•           Báº¯c Kinh        à¸›à¸±à¸à¸à¸´à¹ˆà¸‡             Pequim
8             ë­„ë°”ì´             Mumbai          à¸¡à¸¸à¸¡à¹„à¸š             Mumbai
9             ì˜¤ì‚¬ì¹´              Osaka        à¹‚à¸­à¸‹à¸²à¸à¹‰à¸²              Osaka
10             ì¶©ì¹­        TrÃ¹ng KhÃ¡nh         à¸‰à¸‡à¸Šà¸´à¹ˆà¸‡          Chongqing
11            ì¹´ë¼ì¹˜            Karachi         à¸à¸²à¸£à¸²à¸ˆà¸µ            Carachi
12            í‚¨ìƒ¤ì‚¬           Kinshasa        à¸à¸´à¸™à¸Šà¸²à¸‹à¸²           Kinshasa
13            ë¼ê³ ìŠ¤              Lagos          à¸¥à¸²à¸à¸­à¸ª              Lagos
14           ì´ìŠ¤íƒ„ë¶ˆ           Istanbul      à¸­à¸´à¸ªà¸•à¸±à¸™à¸šà¸¹à¸¥           Istambul
15      ë¶€ì—ë…¸ìŠ¤ ì•„ì´ë ˆìŠ¤       Buenos Aires    à¸šà¸±à¸§à¹‚à¸™à¸ªà¹„à¸­à¹€à¸£à¸ª       Buenos Aires
16            ì½œì¹´íƒ€            Kolkata        à¹‚à¸à¸¥à¸à¸²à¸•à¸²            CalcutÃ¡
17            ë§ˆë‹ë¼             Manila         à¸¡à¸°à¸™à¸´à¸¥à¸²             Manila
18            ê´‘ì €ìš°         Quáº£ng ChÃ¢u       à¸à¸§à¹ˆà¸²à¸‡à¹‚à¸ˆà¸§          Guangzhou
19             í†ˆì§„          ThiÃªn TÃ¢n       à¹€à¸—à¸µà¸¢à¸™à¸ˆà¸´à¸™            Tianjin

   city_in_French en_posiciones
0           Tokyo          5872
1           Delhi          4853
2        Shanghai          9021
3           Dhaka         22451
4       SÃ£o Paulo         24092
5           Caire         12249
6         Mexique          2258
7           PÃ©kin          7223
8          Mumbai          6388
9           Osaka         20495
10      Chongqing         45959
11        Karachi         21056
12       Kinshasa         67647
13          Lagos         17041
14       Istanbul         12656
15   Buenos Aires         15101
16        Kolkata         15268
17        Manille         12339
18      Guangzhou         26711
19        Tianjin         42219

âš ï¸ Ciudades sin posiciÃ³n asignada (total: 12):

               city en_posiciones
331        Qiqihaer          none
351        Gaoxiong          none
390           Liuan          none
408          Suweon          none
517       Ma'anshan          none
673          Kuerle          none
682  Hufuf-Mubarraz          none
694        Banghazi          none
732           Anqiu          none
737        Hanchuan          none
759  Erduosi-Ordoss          none
763          Yan'an          none

In [24]:
# ğŸ”¹ 1. Cargar los dos CSVs de posiciones en espaÃ±ol
df_original_sp = pd.read_csv('posiciones_ciudades_originales.csv')
df_corregidas_sp = pd.read_csv('posiciones_ciudades_corregidas.csv')

# ğŸ”¹ 2. FunciÃ³n para limpiar las ciudades
def limpiar_palabra(ciudad):
    return ciudad.rstrip(',').strip()

# ğŸ”¹ 3. Limpiar ambas tablas
df_original_sp['palabra'] = df_original_sp['palabra'].apply(limpiar_palabra)
df_corregidas_sp['palabra'] = df_corregidas_sp['palabra'].apply(limpiar_palabra)

# ğŸ”¹ 4. Convertir 'posiciÃ³n' a numÃ©rico
df_original_sp['posiciÃ³n'] = pd.to_numeric(df_original_sp['posiciÃ³n'], errors='coerce')
df_corregidas_sp['posiciÃ³n'] = pd.to_numeric(df_corregidas_sp['posiciÃ³n'], errors='coerce')

# ğŸ”¹ 5. Concatenar y ordenar
df_final_sp = pd.concat([df_original_sp, df_corregidas_sp]).sort_values(by=['palabra', 'posiciÃ³n'])
df_final_sp = df_final_sp.drop_duplicates(subset=['palabra'], keep='first')

# ğŸ”¹ 6. Orden final
df_final_sp = df_final_sp.sort_values(by='posiciÃ³n', na_position='last')
df_final_sp['posiciÃ³n'] = df_final_sp['posiciÃ³n'].apply(lambda x: 'none' if pd.isna(x) else int(x))

# ğŸ”¹ 7. Merge limpio (evitamos duplicados)
if 'sp_posiciones' in df_cities.columns:
    df_cities = df_cities.drop(columns=['sp_posiciones'])

df_cities = df_cities.merge(
    df_final_sp.rename(columns={'palabra': 'city_in_Spanish', 'posiciÃ³n': 'sp_posiciones'}), 
    on='city_in_Spanish', 
    how='left'
)

# ğŸ”¹ 8. Verificar faltantes
missing_sp = df_cities[df_cities['sp_posiciones'].isin(['none', 0]) | df_cities['sp_posiciones'].isna()]

# ğŸ”¹ 9. Imprimir TODO el DataFrame para ver cÃ³mo quedÃ³ la tabla completa
print("\nâœ… DataFrame completo con 'sp_posiciones' agregado:\n")
print(df_cities.head(20))  # si quieres ver mÃ¡s filas cambia el 20 por un nÃºmero mayor

print(f"\nâš ï¸ Ciudades en espaÃ±ol sin posiciÃ³n asignada (total: {len(missing_sp)}):\n")
print(missing_sp[['city_in_Spanish', 'sp_posiciones']])

âœ… DataFrame completo con 'sp_posiciones' agregado:

    population          city      country      continent     city_in_Spanish  \
0     37115000         Tokyo        Japan           Asia               Tokio
1     33807400         Delhi        India           Asia               Delhi
2     29867900      Shanghai        China           Asia  Llevar a la fuerza
3     23935700         Dhaka   Bangladesh           Asia               Dacca
4     22806700     Sao Paulo       Brazil  South America           San Pablo
5     22623900         Cairo        Egypt         Africa            El Cairo
6     22505300   Mexico City       Mexico  North America    Ciudad de MÃ©xico
7     22189100       Beijing        China           Asia               PekÃ­n
8     21673100        Mumbai        India           Asia              Bombay
9     18967500         Osaka        Japan           Asia               Osaka
10    17773900     Chongqing        China           Asia           Chongqing
11    17648600       Karachi     Pakistan           Asia             Karachi
12    17032300      Kinshasa     DR Congo         Africa            Kinshasa
13    16536000         Lagos      Nigeria         Africa               Lagos
14    16047400      Istanbul       Turkey           Asia            Estanbul
15    15618300  Buenos Aires    Argentina  South America        Buenos Aires
16    15570800       Kolkata        India           Asia             Calcuta
17    14942000        Manila  Philippines           Asia              Manila
18    14590100     Guangzhou        China           Asia              CantÃ³n
19    14470900       Tianjin        China           Asia             Tianjin

   city_in_Chinese city_in_Arabic city_in_Indonesian city_in_Swahili  \
0               ä¸œäº¬          Ø·ÙˆÙƒÙŠÙˆ              Tokyo           Tokyo
1               å¾·é‡Œ           Ø¯Ù„Ù‡ÙŠ              Delhi           Delhi
2               ä¸Šæµ·         Ø´Ù†ØºÙ‡Ø§ÙŠ      Kota Shanghai        Shanghai
3               è¾¾å¡            Ø¯ÙƒØ§         Kota Dhaka           Dhaka
4              åœ£ä¿ç½—      Ø³Ø§Ùˆ Ø¨Ø§ÙˆÙ„Ùˆ          Sao Paulo       SÃ£o Paulo
5               å¼€ç½—        Ø§Ù„Ù‚Ø§Ù‡Ø±Ø©              Kairo           Cairo
6             å¢¨è¥¿å“¥åŸ   Ù…Ø¯ÙŠÙ†Ø© Ù…ÙƒØ³ÙŠÙƒÙˆ       Kota Meksiko     Mexico City
7               åŒ—äº¬           Ø¨ÙƒÙŠÙ†       Kota Beijing         Beijing
8               å­Ÿä¹°         Ù…ÙˆÙ…Ø¨Ø§ÙŠ             Mumbai          Mumbai
9               å¤§é˜ª         Ø£ÙˆØ³Ø§ÙƒØ§              Osaka           Osaka
10              é‡åº†     ØªØ´ÙˆÙ†ØºØªØ´ÙŠÙ†Øº     Kota Chongqing       Chongqing
11             å¡æ‹‰å¥‡         ÙƒØ±Ø§ØªØ´ÙŠ            Karachi         Karachi
12             é‡‘æ²™è¨        ÙƒÙŠÙ†Ø´Ø§Ø³Ø§      Kota Kinshasa        Kinshasa
13             æ‹‰å„æ–¯          Ù„Ø§ØºÙˆØ³         Kota Lagos           Lagos
14           ä¼Šæ–¯å¦å¸ƒå°”        Ø§Ø³Ø·Ù†Ø¨ÙˆÙ„           Istanbul        Istanbul
15         å¸ƒå®œè¯ºæ–¯è‰¾åˆ©æ–¯     Ø¨ÙˆÙŠÙ†Ø³ Ø¢ÙŠØ±Ø³       Buenos Aires    Buenos Aires
16            åŠ å°”å„ç­”        ÙƒÙˆÙ„ÙƒØ§ØªØ§            Kolkata         Kolkata
17             é©¬å°¼æ‹‰         Ù…Ø§Ù†ÙŠÙ„Ø§        Kota Manila          Manila
18              å¹¿å·       Ù‚ÙˆØ§Ù†ØºØªØ´Ùˆ     Kota Guangzhou       Guangzhou
19              å¤©æ´¥        ØªÙŠØ§Ù†Ø¬ÙŠÙ†       Kota Tianjin         Tianjin

     city_in_Tamil city_in_Turkish city_in_Finnish city_in_Japanese  \
0         à®Ÿà¯‹à®•à¯à®•à®¿à®¯à¯‹           Tokyo           Tokio               æ±äº¬
1           à®Ÿà¯†à®²à¯à®²à®¿           Delhi           Delhi              ãƒ‡ãƒªãƒ¼
2         à®·à®¾à®™à¯à®•à®¾à®¯à¯         Åanghay        Shanghai               ä¸Šæµ·
3           à®Ÿà®¾à®•à¯à®•à®¾           Dakka           Dhaka              ãƒ€ãƒƒã‚«
4        à®šà®¾à®µà¯ à®ªà®¾à®²à¯‹       Sao Paulo       SÃ£o Paulo            ã‚µãƒ³ãƒ‘ã‚¦ãƒ­
5           à®•à¯†à®¯à¯à®°à¯‹          Kahire           Kairo              ã‚«ã‚¤ãƒ­
6   à®®à¯†à®•à¯à®šà®¿à®•à¯‹ à®¨à®•à®°à®®à¯   Meksika Åehri     Mexico City          ãƒ¡ã‚­ã‚·ã‚³ã‚·ãƒ†ã‚£
7         à®ªà¯†à®¯à¯à®œà®¿à®™à¯           Pekin          Peking               åŒ—äº¬
8           à®®à¯à®®à¯à®ªà¯ˆ          Bombay          Mumbai             ãƒ ãƒ³ãƒã‚¤
9            à®’à®šà®¾à®•à®¾           Osaka           Osaka               å¤§é˜ª
10        à®šà¯‹à®™à¯à®•à®¿à®™à¯        Ã‡ongÃ§ing       Chongqing               é‡æ…¶
11         à®•à®°à®¾à®šà¯à®šà®¿          KaraÃ§i         Karachi              ã‚«ãƒ©ãƒ
12        à®•à®¿à®©à¯à®·à®¾à®šà®¾         KinÅŸasa        Kinshasa            ã‚­ãƒ³ã‚·ãƒ£ã‚µ
13          à®²à®¾à®•à¯‹à®¸à¯           Lagos           Lagos              ãƒ©ã‚´ã‚¹
14     à®‡à®¸à¯à®¤à®¾à®©à¯à®ªà¯à®²à¯        Ä°stanbul        Istanbul          ã‚¤ã‚¹ã‚¿ãƒ³ãƒ–ãƒ¼ãƒ«
15  à®ªà®¿à®¯à¯‚à®©à®¸à¯ à®…à®¯à®°à¯à®¸à¯    Buenos Aires    Buenos Aires         ãƒ–ã‚¨ãƒã‚¹ã‚¢ã‚¤ãƒ¬ã‚¹
16       à®•à¯Šà®²à¯à®•à®¤à¯à®¤à®¾         KalkÃ¼ta         Kolkata             ã‚³ãƒ«ã‚«ã‚¿
17           à®®à®£à®¿à®²à®¾          Manila          Manila              ãƒãƒ‹ãƒ©
18        à®•à¯à®µà®¾à®™à¯à®šà¯‹       Guangzhou       Guangzhou               åºƒå·
19      à®¤à®¿à®¯à®¾à®©à¯à®œà®¿à®©à¯         Tianjin         Tianjin               å¤©æ´¥

   city_in_Korean city_in_Vietnamese   city_in_Thai city_in_Portuguese  \
0              ë„ì¿„              Tokyo        à¹‚à¸•à¹€à¸à¸µà¸¢à¸§             TÃ³quio
1              ë¸ë¦¬              ÄÃª-li           à¹€à¸”à¸¥à¸µ              DÃ©lhi
2             ìƒí•˜ì´         ThÆ°á»£ng Háº£i      à¹€à¸‹à¸µà¹ˆà¸¢à¸‡à¹„à¸®à¹‰             Xangai
3              ë‹¤ì¹´             Äáº¯c-ca           à¸˜à¸²à¸à¸²              Dhaka
4            ìƒíŒŒìš¸ë£¨          Sao Paulo       à¹€à¸‹à¸²à¹€à¸›à¸²à¹‚à¸¥          Sao Paulo
5             ì¹´ì´ë¡œ              Cairo           à¹„à¸„à¹‚à¸£              Cairo
6          ë©•ì‹œì½” ì‹œí‹°   ThÃ nh phá»‘ Mexico  à¹€à¸¡à¹‡à¸à¸‹à¸´à¹‚à¸à¸‹à¸´à¸•à¸µà¹‰   Cidade do MÃ©xico
7             ë² ì´ì§•           Báº¯c Kinh        à¸›à¸±à¸à¸à¸´à¹ˆà¸‡             Pequim
8             ë­„ë°”ì´             Mumbai          à¸¡à¸¸à¸¡à¹„à¸š             Mumbai
9             ì˜¤ì‚¬ì¹´              Osaka        à¹‚à¸­à¸‹à¸²à¸à¹‰à¸²              Osaka
10             ì¶©ì¹­        TrÃ¹ng KhÃ¡nh         à¸‰à¸‡à¸Šà¸´à¹ˆà¸‡          Chongqing
11            ì¹´ë¼ì¹˜            Karachi         à¸à¸²à¸£à¸²à¸ˆà¸µ            Carachi
12            í‚¨ìƒ¤ì‚¬           Kinshasa        à¸à¸´à¸™à¸Šà¸²à¸‹à¸²           Kinshasa
13            ë¼ê³ ìŠ¤              Lagos          à¸¥à¸²à¸à¸­à¸ª              Lagos
14           ì´ìŠ¤íƒ„ë¶ˆ           Istanbul      à¸­à¸´à¸ªà¸•à¸±à¸™à¸šà¸¹à¸¥           Istambul
15      ë¶€ì—ë…¸ìŠ¤ ì•„ì´ë ˆìŠ¤       Buenos Aires    à¸šà¸±à¸§à¹‚à¸™à¸ªà¹„à¸­à¹€à¸£à¸ª       Buenos Aires
16            ì½œì¹´íƒ€            Kolkata        à¹‚à¸à¸¥à¸à¸²à¸•à¸²            CalcutÃ¡
17            ë§ˆë‹ë¼             Manila         à¸¡à¸°à¸™à¸´à¸¥à¸²             Manila
18            ê´‘ì €ìš°         Quáº£ng ChÃ¢u       à¸à¸§à¹ˆà¸²à¸‡à¹‚à¸ˆà¸§          Guangzhou
19             í†ˆì§„          ThiÃªn TÃ¢n       à¹€à¸—à¸µà¸¢à¸™à¸ˆà¸´à¸™            Tianjin

   city_in_French en_posiciones sp_posiciones
0           Tokyo          5872          7624
1           Delhi          4853         22845
2        Shanghai          9021         26129
3           Dhaka         22451        217225
4       SÃ£o Paulo         24092          1136
5           Caire         12249         14915
6         Mexique          2258           810
7           PÃ©kin          7223         11110
8          Mumbai          6388         30581
9           Osaka         20495         23167
10      Chongqing         45959         76342
11        Karachi         21056         81600
12       Kinshasa         67647         99986
13          Lagos         17041         10952
14       Istanbul         12656        479219
15   Buenos Aires         15101           854
16        Kolkata         15268         32627
17        Manille         12339         22288
18      Guangzhou         26711         14439
19        Tianjin         42219         71455

âš ï¸ Ciudades en espaÃ±ol sin posiciÃ³n asignada (total: 44):

       city_in_Spanish sp_posiciones
27             Jacarta          none
41               Xi'an          none
55              FoshÃ¡n          none
59             Haerbin          none
164            Huai'an          none
174  Tiruvananthapuram          none
188          Mogadisio          none
235             PutiÃ¡n          none
240             Collam          none
276    Â¿Puedes aunque?          none
290             meerut          none
331           Qiqihaer          none
351           Gaoxiong          none
390              Liuan          none
404           Taizhong          none
417            YingkÃ³u          none
470             Pizhou          none
475            XiongÃ¡n          none
479              benxi          none
499           Shimkent          none
504           Sinxiang          none
522           Tshikapa          none
571             Xintai          none
575               HamÃ¡          none
608            Guigang          none
625              LilÃ­n          none
655           Bhiwandi          none
662            ChangdÃ©          none
673             Cuerle          none
674         Soshanguve          none
678          Cherthala          none
680              FuxÃ­n          none
682     Hufuf-Mubarraz          none
708           Orumiyeh          none
732              anqiu          none
737           Hanchuan          none
738            MeishÃ¡n          none
743         Kayamkulam          none
759     Erduosi-Ordoss          none
763             Yan'an          none
771           MalegaÃ³n          none
775           yuncheng          none
777              Â¿QuÃ©?          none
799            Dongtai          none

In [25]:
# ğŸ”¹ 1. Cargar los dos CSVs de posiciones en chino
df_original_ch = pd.read_csv('posiciones_ciudades_CH.csv')
df_corregidas_ch = pd.read_csv('posiciones_ciudades_corregidas_CH.csv')

# ğŸ”¹ 2. Convertir la columna 'posiciÃ³n' a numÃ©rico
df_original_ch['posiciÃ³n'] = pd.to_numeric(df_original_ch['posiciÃ³n'], errors='coerce')
df_corregidas_ch['posiciÃ³n'] = pd.to_numeric(df_corregidas_ch['posiciÃ³n'], errors='coerce')

# ğŸ”¹ 3. Concatenar y ordenar
df_final_ch = pd.concat([df_original_ch, df_corregidas_ch]).sort_values(by=['palabra', 'posiciÃ³n'])
df_final_ch = df_final_ch.drop_duplicates(subset=['palabra'], keep='first')

# ğŸ”¹ 4. Orden final
df_final_ch = df_final_ch.sort_values(by='posiciÃ³n', na_position='last')
df_final_ch['posiciÃ³n'] = df_final_ch['posiciÃ³n'].apply(lambda x: 'none' if pd.isna(x) else int(x))

# ğŸ”¹ 5. Merge limpio
if 'ch_posiciones' in df_cities.columns:
    df_cities = df_cities.drop(columns=['ch_posiciones'])

df_cities = df_cities.merge(
    df_final_ch.rename(columns={'palabra': 'city_in_Chinese', 'posiciÃ³n': 'ch_posiciones'}), 
    on='city_in_Chinese', 
    how='left'
)

# ğŸ”¹ 6. Verificar faltantes
missing_ch = df_cities[df_cities['ch_posiciones'].isin(['none', 0]) | df_cities['ch_posiciones'].isna()]

# ğŸ”¹ 7. Imprimir TODO el DataFrame completo
print("\nâœ… DataFrame completo con 'ch_posiciones' agregado:\n")
print(df_cities.head(20))  # puedes cambiar a mÃ¡s filas si lo necesitas

print(f"\nâš ï¸ Ciudades en chino sin posiciÃ³n asignada (total: {len(missing_ch)}):\n")
print(missing_ch[['city_in_Chinese', 'ch_posiciones']])

âœ… DataFrame completo con 'ch_posiciones' agregado:

    population          city      country      continent     city_in_Spanish  \
0     37115000         Tokyo        Japan           Asia               Tokio
1     33807400         Delhi        India           Asia               Delhi
2     29867900      Shanghai        China           Asia  Llevar a la fuerza
3     23935700         Dhaka   Bangladesh           Asia               Dacca
4     22806700     Sao Paulo       Brazil  South America           San Pablo
5     22623900         Cairo        Egypt         Africa            El Cairo
6     22505300   Mexico City       Mexico  North America    Ciudad de MÃ©xico
7     22189100       Beijing        China           Asia               PekÃ­n
8     21673100        Mumbai        India           Asia              Bombay
9     18967500         Osaka        Japan           Asia               Osaka
10    17773900     Chongqing        China           Asia           Chongqing
11    17648600       Karachi     Pakistan           Asia             Karachi
12    17032300      Kinshasa     DR Congo         Africa            Kinshasa
13    16536000         Lagos      Nigeria         Africa               Lagos
14    16047400      Istanbul       Turkey           Asia            Estanbul
15    15618300  Buenos Aires    Argentina  South America        Buenos Aires
16    15570800       Kolkata        India           Asia             Calcuta
17    14942000        Manila  Philippines           Asia              Manila
18    14590100     Guangzhou        China           Asia              CantÃ³n
19    14470900       Tianjin        China           Asia             Tianjin

   city_in_Chinese city_in_Arabic city_in_Indonesian city_in_Swahili  \
0               ä¸œäº¬          Ø·ÙˆÙƒÙŠÙˆ              Tokyo           Tokyo
1               å¾·é‡Œ           Ø¯Ù„Ù‡ÙŠ              Delhi           Delhi
2               ä¸Šæµ·         Ø´Ù†ØºÙ‡Ø§ÙŠ      Kota Shanghai        Shanghai
3               è¾¾å¡            Ø¯ÙƒØ§         Kota Dhaka           Dhaka
4              åœ£ä¿ç½—      Ø³Ø§Ùˆ Ø¨Ø§ÙˆÙ„Ùˆ          Sao Paulo       SÃ£o Paulo
5               å¼€ç½—        Ø§Ù„Ù‚Ø§Ù‡Ø±Ø©              Kairo           Cairo
6             å¢¨è¥¿å“¥åŸ   Ù…Ø¯ÙŠÙ†Ø© Ù…ÙƒØ³ÙŠÙƒÙˆ       Kota Meksiko     Mexico City
7               åŒ—äº¬           Ø¨ÙƒÙŠÙ†       Kota Beijing         Beijing
8               å­Ÿä¹°         Ù…ÙˆÙ…Ø¨Ø§ÙŠ             Mumbai          Mumbai
9               å¤§é˜ª         Ø£ÙˆØ³Ø§ÙƒØ§              Osaka           Osaka
10              é‡åº†     ØªØ´ÙˆÙ†ØºØªØ´ÙŠÙ†Øº     Kota Chongqing       Chongqing
11             å¡æ‹‰å¥‡         ÙƒØ±Ø§ØªØ´ÙŠ            Karachi         Karachi
12             é‡‘æ²™è¨        ÙƒÙŠÙ†Ø´Ø§Ø³Ø§      Kota Kinshasa        Kinshasa
13             æ‹‰å„æ–¯          Ù„Ø§ØºÙˆØ³         Kota Lagos           Lagos
14           ä¼Šæ–¯å¦å¸ƒå°”        Ø§Ø³Ø·Ù†Ø¨ÙˆÙ„           Istanbul        Istanbul
15         å¸ƒå®œè¯ºæ–¯è‰¾åˆ©æ–¯     Ø¨ÙˆÙŠÙ†Ø³ Ø¢ÙŠØ±Ø³       Buenos Aires    Buenos Aires
16            åŠ å°”å„ç­”        ÙƒÙˆÙ„ÙƒØ§ØªØ§            Kolkata         Kolkata
17             é©¬å°¼æ‹‰         Ù…Ø§Ù†ÙŠÙ„Ø§        Kota Manila          Manila
18              å¹¿å·       Ù‚ÙˆØ§Ù†ØºØªØ´Ùˆ     Kota Guangzhou       Guangzhou
19              å¤©æ´¥        ØªÙŠØ§Ù†Ø¬ÙŠÙ†       Kota Tianjin         Tianjin

     city_in_Tamil  ... city_in_Finnish city_in_Japanese city_in_Korean  \
0         à®Ÿà¯‹à®•à¯à®•à®¿à®¯à¯‹  ...           Tokio               æ±äº¬             ë„ì¿„
1           à®Ÿà¯†à®²à¯à®²à®¿  ...           Delhi              ãƒ‡ãƒªãƒ¼             ë¸ë¦¬
2         à®·à®¾à®™à¯à®•à®¾à®¯à¯  ...        Shanghai               ä¸Šæµ·            ìƒí•˜ì´
3           à®Ÿà®¾à®•à¯à®•à®¾  ...           Dhaka              ãƒ€ãƒƒã‚«             ë‹¤ì¹´
4        à®šà®¾à®µà¯ à®ªà®¾à®²à¯‹  ...       SÃ£o Paulo            ã‚µãƒ³ãƒ‘ã‚¦ãƒ­           ìƒíŒŒìš¸ë£¨
5           à®•à¯†à®¯à¯à®°à¯‹  ...           Kairo              ã‚«ã‚¤ãƒ­            ì¹´ì´ë¡œ
6   à®®à¯†à®•à¯à®šà®¿à®•à¯‹ à®¨à®•à®°à®®à¯  ...     Mexico City          ãƒ¡ã‚­ã‚·ã‚³ã‚·ãƒ†ã‚£         ë©•ì‹œì½” ì‹œí‹°
7         à®ªà¯†à®¯à¯à®œà®¿à®™à¯  ...          Peking               åŒ—äº¬            ë² ì´ì§•
8           à®®à¯à®®à¯à®ªà¯ˆ  ...          Mumbai             ãƒ ãƒ³ãƒã‚¤            ë­„ë°”ì´
9            à®’à®šà®¾à®•à®¾  ...           Osaka               å¤§é˜ª            ì˜¤ì‚¬ì¹´
10        à®šà¯‹à®™à¯à®•à®¿à®™à¯  ...       Chongqing               é‡æ…¶             ì¶©ì¹­
11         à®•à®°à®¾à®šà¯à®šà®¿  ...         Karachi              ã‚«ãƒ©ãƒ            ì¹´ë¼ì¹˜
12        à®•à®¿à®©à¯à®·à®¾à®šà®¾  ...        Kinshasa            ã‚­ãƒ³ã‚·ãƒ£ã‚µ            í‚¨ìƒ¤ì‚¬
13          à®²à®¾à®•à¯‹à®¸à¯  ...           Lagos              ãƒ©ã‚´ã‚¹            ë¼ê³ ìŠ¤
14     à®‡à®¸à¯à®¤à®¾à®©à¯à®ªà¯à®²à¯  ...        Istanbul          ã‚¤ã‚¹ã‚¿ãƒ³ãƒ–ãƒ¼ãƒ«           ì´ìŠ¤íƒ„ë¶ˆ
15  à®ªà®¿à®¯à¯‚à®©à®¸à¯ à®…à®¯à®°à¯à®¸à¯  ...    Buenos Aires         ãƒ–ã‚¨ãƒã‚¹ã‚¢ã‚¤ãƒ¬ã‚¹      ë¶€ì—ë…¸ìŠ¤ ì•„ì´ë ˆìŠ¤
16       à®•à¯Šà®²à¯à®•à®¤à¯à®¤à®¾  ...         Kolkata             ã‚³ãƒ«ã‚«ã‚¿            ì½œì¹´íƒ€
17           à®®à®£à®¿à®²à®¾  ...          Manila              ãƒãƒ‹ãƒ©            ë§ˆë‹ë¼
18        à®•à¯à®µà®¾à®™à¯à®šà¯‹  ...       Guangzhou               åºƒå·            ê´‘ì €ìš°
19      à®¤à®¿à®¯à®¾à®©à¯à®œà®¿à®©à¯  ...         Tianjin               å¤©æ´¥             í†ˆì§„

   city_in_Vietnamese   city_in_Thai city_in_Portuguese city_in_French  \
0               Tokyo        à¹‚à¸•à¹€à¸à¸µà¸¢à¸§             TÃ³quio          Tokyo
1               ÄÃª-li           à¹€à¸”à¸¥à¸µ              DÃ©lhi          Delhi
2          ThÆ°á»£ng Háº£i      à¹€à¸‹à¸µà¹ˆà¸¢à¸‡à¹„à¸®à¹‰             Xangai       Shanghai
3              Äáº¯c-ca           à¸˜à¸²à¸à¸²              Dhaka          Dhaka
4           Sao Paulo       à¹€à¸‹à¸²à¹€à¸›à¸²à¹‚à¸¥          Sao Paulo      SÃ£o Paulo
5               Cairo           à¹„à¸„à¹‚à¸£              Cairo          Caire
6    ThÃ nh phá»‘ Mexico  à¹€à¸¡à¹‡à¸à¸‹à¸´à¹‚à¸à¸‹à¸´à¸•à¸µà¹‰   Cidade do MÃ©xico        Mexique
7            Báº¯c Kinh        à¸›à¸±à¸à¸à¸´à¹ˆà¸‡             Pequim          PÃ©kin
8              Mumbai          à¸¡à¸¸à¸¡à¹„à¸š             Mumbai         Mumbai
9               Osaka        à¹‚à¸­à¸‹à¸²à¸à¹‰à¸²              Osaka          Osaka
10        TrÃ¹ng KhÃ¡nh         à¸‰à¸‡à¸Šà¸´à¹ˆà¸‡          Chongqing      Chongqing
11            Karachi         à¸à¸²à¸£à¸²à¸ˆà¸µ            Carachi        Karachi
12           Kinshasa        à¸à¸´à¸™à¸Šà¸²à¸‹à¸²           Kinshasa       Kinshasa
13              Lagos          à¸¥à¸²à¸à¸­à¸ª              Lagos          Lagos
14           Istanbul      à¸­à¸´à¸ªà¸•à¸±à¸™à¸šà¸¹à¸¥           Istambul       Istanbul
15       Buenos Aires    à¸šà¸±à¸§à¹‚à¸™à¸ªà¹„à¸­à¹€à¸£à¸ª       Buenos Aires   Buenos Aires
16            Kolkata        à¹‚à¸à¸¥à¸à¸²à¸•à¸²            CalcutÃ¡        Kolkata
17             Manila         à¸¡à¸°à¸™à¸´à¸¥à¸²             Manila        Manille
18         Quáº£ng ChÃ¢u       à¸à¸§à¹ˆà¸²à¸‡à¹‚à¸ˆà¸§          Guangzhou      Guangzhou
19          ThiÃªn TÃ¢n       à¹€à¸—à¸µà¸¢à¸™à¸ˆà¸´à¸™            Tianjin        Tianjin

   en_posiciones sp_posiciones ch_posiciones
0           5872          7624          4662
1           4853         22845         11384
2           9021         26129           344
3          22451        217225         82180
4          24092          1136         27780
5          12249         14915         27651
6           2258           810         36649
7           7223         11110           172
8           6388         30581         35115
9          20495         23167          4818
10         45959         76342          1451
11         21056         81600         65375
12         67647         99986        163932
13         17041         10952         98664
14         12656        479219         26448
15         15101           854         48322
16         15268         32627         61341
17         12339         22288         30532
18         26711         14439          1114
19         42219         71455          1374

[20 rows x 21 columns]

âš ï¸ Ciudades en chino sin posiciÃ³n asignada (total: 77):

    city_in_Chinese ch_posiciones
164          Huaian          none
213           æ‹‰ç“¦å°”å“ç¬¬          none
312          Suqian          none
320        Hengyang          none
323             å¥¥å°¼æŸ¥          none
..              ...           ...
782        Tongliao          none
787          Wuzhou          none
788          Dazhou          none
791         Jiamusi          none
809       Panzhihua          none

[77 rows x 2 columns]

In [26]:
# ğŸ”¹ 1. Cargar los dos CSVs de posiciones en Swahili
df_original_sw = pd.read_csv('posiciones_ciudades_SW.csv')
df_corregidas_sw = pd.read_csv('posiciones_ciudades_corregidas_SW.csv')

# ğŸ”¹ 2. Convertir la columna 'posiciÃ³n' a numÃ©rico
df_original_sw['posiciÃ³n'] = pd.to_numeric(df_original_sw['posiciÃ³n'], errors='coerce')
df_corregidas_sw['posiciÃ³n'] = pd.to_numeric(df_corregidas_sw['posiciÃ³n'], errors='coerce')

# ğŸ”¹ 3. Concatenar y ordenar
df_final_sw = pd.concat([df_original_sw, df_corregidas_sw]).sort_values(by=['palabra', 'posiciÃ³n'])
df_final_sw = df_final_sw.drop_duplicates(subset=['palabra'], keep='first')

# ğŸ”¹ 4. Orden final
df_final_sw = df_final_sw.sort_values(by='posiciÃ³n', na_position='last')
df_final_sw['posiciÃ³n'] = df_final_sw['posiciÃ³n'].apply(lambda x: 'none' if pd.isna(x) else int(x))

# ğŸ”¹ 5. Merge limpio (evitamos duplicados)
if 'sw_posiciones' in df_cities.columns:
    df_cities = df_cities.drop(columns=['sw_posiciones'])

df_cities = df_cities.merge(
    df_final_sw.rename(columns={'palabra': 'city_in_Swahili', 'posiciÃ³n': 'sw_posiciones'}), 
    on='city_in_Swahili', 
    how='left'
)

# ğŸ”¹ 6. Verificar faltantes
missing_sw = df_cities[df_cities['sw_posiciones'].isin(['none', 0]) | df_cities['sw_posiciones'].isna()]

# ğŸ”¹ 7. Imprimir TODO el DataFrame completo para validar
print("\nâœ… DataFrame completo con 'sw_posiciones' agregado:\n")
print(df_cities.head(20))

print(f"\nâš ï¸ Ciudades en swahili sin posiciÃ³n asignada (total: {len(missing_sw)}):\n")
print(missing_sw[['city_in_Swahili', 'sw_posiciones']])

âœ… DataFrame completo con 'sw_posiciones' agregado:

    population          city      country      continent     city_in_Spanish  \
0     37115000         Tokyo        Japan           Asia               Tokio
1     33807400         Delhi        India           Asia               Delhi
2     29867900      Shanghai        China           Asia  Llevar a la fuerza
3     23935700         Dhaka   Bangladesh           Asia               Dacca
4     22806700     Sao Paulo       Brazil  South America           San Pablo
5     22623900         Cairo        Egypt         Africa            El Cairo
6     22505300   Mexico City       Mexico  North America    Ciudad de MÃ©xico
7     22189100       Beijing        China           Asia               PekÃ­n
8     21673100        Mumbai        India           Asia              Bombay
9     18967500         Osaka        Japan           Asia               Osaka
10    17773900     Chongqing        China           Asia           Chongqing
11    17648600       Karachi     Pakistan           Asia             Karachi
12    17032300      Kinshasa     DR Congo         Africa            Kinshasa
13    16536000         Lagos      Nigeria         Africa               Lagos
14    16047400      Istanbul       Turkey           Asia            Estanbul
15    15618300  Buenos Aires    Argentina  South America        Buenos Aires
16    15570800       Kolkata        India           Asia             Calcuta
17    14942000        Manila  Philippines           Asia              Manila
18    14590100     Guangzhou        China           Asia              CantÃ³n
19    14470900       Tianjin        China           Asia             Tianjin

   city_in_Chinese city_in_Arabic city_in_Indonesian city_in_Swahili  \
0               ä¸œäº¬          Ø·ÙˆÙƒÙŠÙˆ              Tokyo           Tokyo
1               å¾·é‡Œ           Ø¯Ù„Ù‡ÙŠ              Delhi           Delhi
2               ä¸Šæµ·         Ø´Ù†ØºÙ‡Ø§ÙŠ      Kota Shanghai        Shanghai
3               è¾¾å¡            Ø¯ÙƒØ§         Kota Dhaka           Dhaka
4              åœ£ä¿ç½—      Ø³Ø§Ùˆ Ø¨Ø§ÙˆÙ„Ùˆ          Sao Paulo       SÃ£o Paulo
5               å¼€ç½—        Ø§Ù„Ù‚Ø§Ù‡Ø±Ø©              Kairo           Cairo
6             å¢¨è¥¿å“¥åŸ   Ù…Ø¯ÙŠÙ†Ø© Ù…ÙƒØ³ÙŠÙƒÙˆ       Kota Meksiko     Mexico City
7               åŒ—äº¬           Ø¨ÙƒÙŠÙ†       Kota Beijing         Beijing
8               å­Ÿä¹°         Ù…ÙˆÙ…Ø¨Ø§ÙŠ             Mumbai          Mumbai
9               å¤§é˜ª         Ø£ÙˆØ³Ø§ÙƒØ§              Osaka           Osaka
10              é‡åº†     ØªØ´ÙˆÙ†ØºØªØ´ÙŠÙ†Øº     Kota Chongqing       Chongqing
11             å¡æ‹‰å¥‡         ÙƒØ±Ø§ØªØ´ÙŠ            Karachi         Karachi
12             é‡‘æ²™è¨        ÙƒÙŠÙ†Ø´Ø§Ø³Ø§      Kota Kinshasa        Kinshasa
13             æ‹‰å„æ–¯          Ù„Ø§ØºÙˆØ³         Kota Lagos           Lagos
14           ä¼Šæ–¯å¦å¸ƒå°”        Ø§Ø³Ø·Ù†Ø¨ÙˆÙ„           Istanbul        Istanbul
15         å¸ƒå®œè¯ºæ–¯è‰¾åˆ©æ–¯     Ø¨ÙˆÙŠÙ†Ø³ Ø¢ÙŠØ±Ø³       Buenos Aires    Buenos Aires
16            åŠ å°”å„ç­”        ÙƒÙˆÙ„ÙƒØ§ØªØ§            Kolkata         Kolkata
17             é©¬å°¼æ‹‰         Ù…Ø§Ù†ÙŠÙ„Ø§        Kota Manila          Manila
18              å¹¿å·       Ù‚ÙˆØ§Ù†ØºØªØ´Ùˆ     Kota Guangzhou       Guangzhou
19              å¤©æ´¥        ØªÙŠØ§Ù†Ø¬ÙŠÙ†       Kota Tianjin         Tianjin

     city_in_Tamil  ... city_in_Japanese city_in_Korean city_in_Vietnamese  \
0         à®Ÿà¯‹à®•à¯à®•à®¿à®¯à¯‹  ...               æ±äº¬             ë„ì¿„              Tokyo
1           à®Ÿà¯†à®²à¯à®²à®¿  ...              ãƒ‡ãƒªãƒ¼             ë¸ë¦¬              ÄÃª-li
2         à®·à®¾à®™à¯à®•à®¾à®¯à¯  ...               ä¸Šæµ·            ìƒí•˜ì´         ThÆ°á»£ng Háº£i
3           à®Ÿà®¾à®•à¯à®•à®¾  ...              ãƒ€ãƒƒã‚«             ë‹¤ì¹´             Äáº¯c-ca
4        à®šà®¾à®µà¯ à®ªà®¾à®²à¯‹  ...            ã‚µãƒ³ãƒ‘ã‚¦ãƒ­           ìƒíŒŒìš¸ë£¨          Sao Paulo
5           à®•à¯†à®¯à¯à®°à¯‹  ...              ã‚«ã‚¤ãƒ­            ì¹´ì´ë¡œ              Cairo
6   à®®à¯†à®•à¯à®šà®¿à®•à¯‹ à®¨à®•à®°à®®à¯  ...          ãƒ¡ã‚­ã‚·ã‚³ã‚·ãƒ†ã‚£         ë©•ì‹œì½” ì‹œí‹°   ThÃ nh phá»‘ Mexico
7         à®ªà¯†à®¯à¯à®œà®¿à®™à¯  ...               åŒ—äº¬            ë² ì´ì§•           Báº¯c Kinh
8           à®®à¯à®®à¯à®ªà¯ˆ  ...             ãƒ ãƒ³ãƒã‚¤            ë­„ë°”ì´             Mumbai
9            à®’à®šà®¾à®•à®¾  ...               å¤§é˜ª            ì˜¤ì‚¬ì¹´              Osaka
10        à®šà¯‹à®™à¯à®•à®¿à®™à¯  ...               é‡æ…¶             ì¶©ì¹­        TrÃ¹ng KhÃ¡nh
11         à®•à®°à®¾à®šà¯à®šà®¿  ...              ã‚«ãƒ©ãƒ            ì¹´ë¼ì¹˜            Karachi
12        à®•à®¿à®©à¯à®·à®¾à®šà®¾  ...            ã‚­ãƒ³ã‚·ãƒ£ã‚µ            í‚¨ìƒ¤ì‚¬           Kinshasa
13          à®²à®¾à®•à¯‹à®¸à¯  ...              ãƒ©ã‚´ã‚¹            ë¼ê³ ìŠ¤              Lagos
14     à®‡à®¸à¯à®¤à®¾à®©à¯à®ªà¯à®²à¯  ...          ã‚¤ã‚¹ã‚¿ãƒ³ãƒ–ãƒ¼ãƒ«           ì´ìŠ¤íƒ„ë¶ˆ           Istanbul
15  à®ªà®¿à®¯à¯‚à®©à®¸à¯ à®…à®¯à®°à¯à®¸à¯  ...         ãƒ–ã‚¨ãƒã‚¹ã‚¢ã‚¤ãƒ¬ã‚¹      ë¶€ì—ë…¸ìŠ¤ ì•„ì´ë ˆìŠ¤       Buenos Aires
16       à®•à¯Šà®²à¯à®•à®¤à¯à®¤à®¾  ...             ã‚³ãƒ«ã‚«ã‚¿            ì½œì¹´íƒ€            Kolkata
17           à®®à®£à®¿à®²à®¾  ...              ãƒãƒ‹ãƒ©            ë§ˆë‹ë¼             Manila
18        à®•à¯à®µà®¾à®™à¯à®šà¯‹  ...               åºƒå·            ê´‘ì €ìš°         Quáº£ng ChÃ¢u
19      à®¤à®¿à®¯à®¾à®©à¯à®œà®¿à®©à¯  ...               å¤©æ´¥             í†ˆì§„          ThiÃªn TÃ¢n

     city_in_Thai city_in_Portuguese city_in_French en_posiciones  \
0         à¹‚à¸•à¹€à¸à¸µà¸¢à¸§             TÃ³quio          Tokyo          5872
1            à¹€à¸”à¸¥à¸µ              DÃ©lhi          Delhi          4853
2       à¹€à¸‹à¸µà¹ˆà¸¢à¸‡à¹„à¸®à¹‰             Xangai       Shanghai          9021
3            à¸˜à¸²à¸à¸²              Dhaka          Dhaka         22451
4        à¹€à¸‹à¸²à¹€à¸›à¸²à¹‚à¸¥          Sao Paulo      SÃ£o Paulo         24092
5            à¹„à¸„à¹‚à¸£              Cairo          Caire         12249
6   à¹€à¸¡à¹‡à¸à¸‹à¸´à¹‚à¸à¸‹à¸´à¸•à¸µà¹‰   Cidade do MÃ©xico        Mexique          2258
7         à¸›à¸±à¸à¸à¸´à¹ˆà¸‡             Pequim          PÃ©kin          7223
8           à¸¡à¸¸à¸¡à¹„à¸š             Mumbai         Mumbai          6388
9         à¹‚à¸­à¸‹à¸²à¸à¹‰à¸²              Osaka          Osaka         20495
10         à¸‰à¸‡à¸Šà¸´à¹ˆà¸‡          Chongqing      Chongqing         45959
11         à¸à¸²à¸£à¸²à¸ˆà¸µ            Carachi        Karachi         21056
12        à¸à¸´à¸™à¸Šà¸²à¸‹à¸²           Kinshasa       Kinshasa         67647
13          à¸¥à¸²à¸à¸­à¸ª              Lagos          Lagos         17041
14      à¸­à¸´à¸ªà¸•à¸±à¸™à¸šà¸¹à¸¥           Istambul       Istanbul         12656
15    à¸šà¸±à¸§à¹‚à¸™à¸ªà¹„à¸­à¹€à¸£à¸ª       Buenos Aires   Buenos Aires         15101
16        à¹‚à¸à¸¥à¸à¸²à¸•à¸²            CalcutÃ¡        Kolkata         15268
17         à¸¡à¸°à¸™à¸´à¸¥à¸²             Manila        Manille         12339
18       à¸à¸§à¹ˆà¸²à¸‡à¹‚à¸ˆà¸§          Guangzhou      Guangzhou         26711
19       à¹€à¸—à¸µà¸¢à¸™à¸ˆà¸´à¸™            Tianjin        Tianjin         42219

   sp_posiciones ch_posiciones sw_posiciones
0           7624          4662          4852
1          22845         11384          6482
2          26129           344          9130
3         217225         82180         19070
4           1136         27780          5076
5          14915         27651          5852
6            810         36649          2565
7          11110           172          5001
8          30581         35115          8969
9          23167          4818         12672
10         76342          1451         84346
11         81600         65375          9797
12         99986        163932          3885
13         10952         98664          3457
14        479219         26448          3851
15           854         48322          6101
16         32627         61341          8407
17         22288         30532         13420
18         14439          1114         23404
19         71455          1374         49341

[20 rows x 22 columns]

âš ï¸ Ciudades en swahili sin posiciÃ³n asignada (total: 163):

    city_in_Swahili sw_posiciones
41            Xi'an          none
59          Haerbin          none
86           Urumqi          none
112      Malappuram          none
121         Xiameni          none
..              ...           ...
794        Sargodha          none
798          Bacoor          none
799         Dongtai          none
800    Zhangjiagang          none
804           Zarqa          none

[163 rows x 2 columns]

In [27]:
# ğŸ”¹ 1. Cargar los dos CSVs de posiciones en tamil
df_original_ta = pd.read_csv('posiciones_ciudades_TA.csv')
df_corregidas_ta = pd.read_csv('posiciones_ciudades_corregidas_TA.csv')

# ğŸ”¹ 2. Convertir la columna 'posiciÃ³n' a numÃ©rico
df_original_ta['posiciÃ³n'] = pd.to_numeric(df_original_ta['posiciÃ³n'], errors='coerce')
df_corregidas_ta['posiciÃ³n'] = pd.to_numeric(df_corregidas_ta['posiciÃ³n'], errors='coerce')

# ğŸ”¹ 3. Concatenar y ordenar
df_final_ta = pd.concat([df_original_ta, df_corregidas_ta]).sort_values(by=['palabra', 'posiciÃ³n'])
df_final_ta = df_final_ta.drop_duplicates(subset=['palabra'], keep='first')

# ğŸ”¹ 4. Orden final
df_final_ta = df_final_ta.sort_values(by='posiciÃ³n', na_position='last')
df_final_ta['posiciÃ³n'] = df_final_ta['posiciÃ³n'].apply(lambda x: 'none' if pd.isna(x) else int(x))

# ğŸ”¹ 5. Merge limpio (evitamos duplicados)
if 'ta_posiciones' in df_cities.columns:
    df_cities = df_cities.drop(columns=['ta_posiciones'])

df_cities = df_cities.merge(
    df_final_ta.rename(columns={'palabra': 'city_in_Tamil', 'posiciÃ³n': 'ta_posiciones'}), 
    on='city_in_Tamil', 
    how='left'
)

# ğŸ”¹ 6. Verificar faltantes
missing_ta = df_cities[df_cities['ta_posiciones'].isin(['none', 0]) | df_cities['ta_posiciones'].isna()]

# ğŸ”¹ 7. Imprimir TODO el DataFrame completo para validar
print("\nâœ… DataFrame completo con 'ta_posiciones' agregado:\n")
print(df_cities.head(20))

print(f"\nâš ï¸ Ciudades en tamil sin posiciÃ³n asignada (total: {len(missing_ta)}):\n")
print(missing_ta[['city_in_Tamil', 'ta_posiciones']])

âœ… DataFrame completo con 'ta_posiciones' agregado:

    population          city      country      continent     city_in_Spanish  \
0     37115000         Tokyo        Japan           Asia               Tokio
1     33807400         Delhi        India           Asia               Delhi
2     29867900      Shanghai        China           Asia  Llevar a la fuerza
3     23935700         Dhaka   Bangladesh           Asia               Dacca
4     22806700     Sao Paulo       Brazil  South America           San Pablo
5     22623900         Cairo        Egypt         Africa            El Cairo
6     22505300   Mexico City       Mexico  North America    Ciudad de MÃ©xico
7     22189100       Beijing        China           Asia               PekÃ­n
8     21673100        Mumbai        India           Asia              Bombay
9     18967500         Osaka        Japan           Asia               Osaka
10    17773900     Chongqing        China           Asia           Chongqing
11    17648600       Karachi     Pakistan           Asia             Karachi
12    17032300      Kinshasa     DR Congo         Africa            Kinshasa
13    16536000         Lagos      Nigeria         Africa               Lagos
14    16047400      Istanbul       Turkey           Asia            Estanbul
15    15618300  Buenos Aires    Argentina  South America        Buenos Aires
16    15570800       Kolkata        India           Asia             Calcuta
17    14942000        Manila  Philippines           Asia              Manila
18    14590100     Guangzhou        China           Asia              CantÃ³n
19    14470900       Tianjin        China           Asia             Tianjin

   city_in_Chinese city_in_Arabic city_in_Indonesian city_in_Swahili  \
0               ä¸œäº¬          Ø·ÙˆÙƒÙŠÙˆ              Tokyo           Tokyo
1               å¾·é‡Œ           Ø¯Ù„Ù‡ÙŠ              Delhi           Delhi
2               ä¸Šæµ·         Ø´Ù†ØºÙ‡Ø§ÙŠ      Kota Shanghai        Shanghai
3               è¾¾å¡            Ø¯ÙƒØ§         Kota Dhaka           Dhaka
4              åœ£ä¿ç½—      Ø³Ø§Ùˆ Ø¨Ø§ÙˆÙ„Ùˆ          Sao Paulo       SÃ£o Paulo
5               å¼€ç½—        Ø§Ù„Ù‚Ø§Ù‡Ø±Ø©              Kairo           Cairo
6             å¢¨è¥¿å“¥åŸ   Ù…Ø¯ÙŠÙ†Ø© Ù…ÙƒØ³ÙŠÙƒÙˆ       Kota Meksiko     Mexico City
7               åŒ—äº¬           Ø¨ÙƒÙŠÙ†       Kota Beijing         Beijing
8               å­Ÿä¹°         Ù…ÙˆÙ…Ø¨Ø§ÙŠ             Mumbai          Mumbai
9               å¤§é˜ª         Ø£ÙˆØ³Ø§ÙƒØ§              Osaka           Osaka
10              é‡åº†     ØªØ´ÙˆÙ†ØºØªØ´ÙŠÙ†Øº     Kota Chongqing       Chongqing
11             å¡æ‹‰å¥‡         ÙƒØ±Ø§ØªØ´ÙŠ            Karachi         Karachi
12             é‡‘æ²™è¨        ÙƒÙŠÙ†Ø´Ø§Ø³Ø§      Kota Kinshasa        Kinshasa
13             æ‹‰å„æ–¯          Ù„Ø§ØºÙˆØ³         Kota Lagos           Lagos
14           ä¼Šæ–¯å¦å¸ƒå°”        Ø§Ø³Ø·Ù†Ø¨ÙˆÙ„           Istanbul        Istanbul
15         å¸ƒå®œè¯ºæ–¯è‰¾åˆ©æ–¯     Ø¨ÙˆÙŠÙ†Ø³ Ø¢ÙŠØ±Ø³       Buenos Aires    Buenos Aires
16            åŠ å°”å„ç­”        ÙƒÙˆÙ„ÙƒØ§ØªØ§            Kolkata         Kolkata
17             é©¬å°¼æ‹‰         Ù…Ø§Ù†ÙŠÙ„Ø§        Kota Manila          Manila
18              å¹¿å·       Ù‚ÙˆØ§Ù†ØºØªØ´Ùˆ     Kota Guangzhou       Guangzhou
19              å¤©æ´¥        ØªÙŠØ§Ù†Ø¬ÙŠÙ†       Kota Tianjin         Tianjin

     city_in_Tamil  ... city_in_Korean city_in_Vietnamese   city_in_Thai  \
0         à®Ÿà¯‹à®•à¯à®•à®¿à®¯à¯‹  ...             ë„ì¿„              Tokyo        à¹‚à¸•à¹€à¸à¸µà¸¢à¸§
1           à®Ÿà¯†à®²à¯à®²à®¿  ...             ë¸ë¦¬              ÄÃª-li           à¹€à¸”à¸¥à¸µ
2         à®·à®¾à®™à¯à®•à®¾à®¯à¯  ...            ìƒí•˜ì´         ThÆ°á»£ng Háº£i      à¹€à¸‹à¸µà¹ˆà¸¢à¸‡à¹„à¸®à¹‰
3           à®Ÿà®¾à®•à¯à®•à®¾  ...             ë‹¤ì¹´             Äáº¯c-ca           à¸˜à¸²à¸à¸²
4        à®šà®¾à®µà¯ à®ªà®¾à®²à¯‹  ...           ìƒíŒŒìš¸ë£¨          Sao Paulo       à¹€à¸‹à¸²à¹€à¸›à¸²à¹‚à¸¥
5           à®•à¯†à®¯à¯à®°à¯‹  ...            ì¹´ì´ë¡œ              Cairo           à¹„à¸„à¹‚à¸£
6   à®®à¯†à®•à¯à®šà®¿à®•à¯‹ à®¨à®•à®°à®®à¯  ...         ë©•ì‹œì½” ì‹œí‹°   ThÃ nh phá»‘ Mexico  à¹€à¸¡à¹‡à¸à¸‹à¸´à¹‚à¸à¸‹à¸´à¸•à¸µà¹‰
7         à®ªà¯†à®¯à¯à®œà®¿à®™à¯  ...            ë² ì´ì§•           Báº¯c Kinh        à¸›à¸±à¸à¸à¸´à¹ˆà¸‡
8           à®®à¯à®®à¯à®ªà¯ˆ  ...            ë­„ë°”ì´             Mumbai          à¸¡à¸¸à¸¡à¹„à¸š
9            à®’à®šà®¾à®•à®¾  ...            ì˜¤ì‚¬ì¹´              Osaka        à¹‚à¸­à¸‹à¸²à¸à¹‰à¸²
10        à®šà¯‹à®™à¯à®•à®¿à®™à¯  ...             ì¶©ì¹­        TrÃ¹ng KhÃ¡nh         à¸‰à¸‡à¸Šà¸´à¹ˆà¸‡
11         à®•à®°à®¾à®šà¯à®šà®¿  ...            ì¹´ë¼ì¹˜            Karachi         à¸à¸²à¸£à¸²à¸ˆà¸µ
12        à®•à®¿à®©à¯à®·à®¾à®šà®¾  ...            í‚¨ìƒ¤ì‚¬           Kinshasa        à¸à¸´à¸™à¸Šà¸²à¸‹à¸²
13          à®²à®¾à®•à¯‹à®¸à¯  ...            ë¼ê³ ìŠ¤              Lagos          à¸¥à¸²à¸à¸­à¸ª
14     à®‡à®¸à¯à®¤à®¾à®©à¯à®ªà¯à®²à¯  ...           ì´ìŠ¤íƒ„ë¶ˆ           Istanbul      à¸­à¸´à¸ªà¸•à¸±à¸™à¸šà¸¹à¸¥
15  à®ªà®¿à®¯à¯‚à®©à®¸à¯ à®…à®¯à®°à¯à®¸à¯  ...      ë¶€ì—ë…¸ìŠ¤ ì•„ì´ë ˆìŠ¤       Buenos Aires    à¸šà¸±à¸§à¹‚à¸™à¸ªà¹„à¸­à¹€à¸£à¸ª
16       à®•à¯Šà®²à¯à®•à®¤à¯à®¤à®¾  ...            ì½œì¹´íƒ€            Kolkata        à¹‚à¸à¸¥à¸à¸²à¸•à¸²
17           à®®à®£à®¿à®²à®¾  ...            ë§ˆë‹ë¼             Manila         à¸¡à¸°à¸™à¸´à¸¥à¸²
18        à®•à¯à®µà®¾à®™à¯à®šà¯‹  ...            ê´‘ì €ìš°         Quáº£ng ChÃ¢u       à¸à¸§à¹ˆà¸²à¸‡à¹‚à¸ˆà¸§
19      à®¤à®¿à®¯à®¾à®©à¯à®œà®¿à®©à¯  ...             í†ˆì§„          ThiÃªn TÃ¢n       à¹€à¸—à¸µà¸¢à¸™à¸ˆà¸´à¸™

   city_in_Portuguese city_in_French en_posiciones sp_posiciones  \
0              TÃ³quio          Tokyo          5872          7624
1               DÃ©lhi          Delhi          4853         22845
2              Xangai       Shanghai          9021         26129
3               Dhaka          Dhaka         22451        217225
4           Sao Paulo      SÃ£o Paulo         24092          1136
5               Cairo          Caire         12249         14915
6    Cidade do MÃ©xico        Mexique          2258           810
7              Pequim          PÃ©kin          7223         11110
8              Mumbai         Mumbai          6388         30581
9               Osaka          Osaka         20495         23167
10          Chongqing      Chongqing         45959         76342
11            Carachi        Karachi         21056         81600
12           Kinshasa       Kinshasa         67647         99986
13              Lagos          Lagos         17041         10952
14           Istambul       Istanbul         12656        479219
15       Buenos Aires   Buenos Aires         15101           854
16            CalcutÃ¡        Kolkata         15268         32627
17             Manila        Manille         12339         22288
18          Guangzhou      Guangzhou         26711         14439
19            Tianjin        Tianjin         42219         71455

   ch_posiciones sw_posiciones ta_posiciones
0           4662          4852         21427
1          11384          6482          2558
2            344          9130         47973
3          82180         19070         22134
4          27780          5076         26236
5          27651          5852         31985
6          36649          2565         12063
7            172          5001         21351
8          35115          8969          1545
9           4818         12672        151229
10          1451         84346        177294
11         65375          9797         26069
12        163932          3885        163932
13         98664          3457        154897
14         26448          3851         41901
15         48322          6101        271710
16         61341          8407          5449
17         30532         13420         28598
18          1114         23404        203616
19          1374         49341        318362

[20 rows x 23 columns]

âš ï¸ Ciudades en tamil sin posiciÃ³n asignada (total: 280):

    city_in_Tamil ta_posiciones
26         à®ªà¯‹à®•à¯‹à®Ÿà®¾          none
46         à®šà¯à®šà¯‹à®µà¯          none
47         à®šà¯à®šà¯‹à®µà¯          none
55         à®ƒà®ªà¯‹à®·à®©à¯          none
67       à®•à®¿à®™à¯à®Ÿà®¾à®µà¯‹          none
..            ...           ...
791      à®œà®¿à®¯à®¾à®®à¯à®šà®¿          none
799      à®Ÿà¯‹à®™à¯à®¤à®¾à®¯à¯          none
800  à®œà®¾à®™à¯à®œà®¿à®¯à®¾à®•à®¾à®™à¯          none
807      à®¹à¯à®µà®¾à®®à¯à®ªà¯‹          none
809     à®ªà®©à¯à®·à®¿à®¹à¯à®µà®¾          none

[280 rows x 2 columns]

In [28]:
# ğŸ”¹ 1. Cargar los dos CSVs de posiciones en turco
df_original_tr = pd.read_csv('posiciones_ciudades_TR.csv')
df_corregidas_tr = pd.read_csv('posiciones_ciudades_corregidas_TR.csv')

# ğŸ”¹ 2. Convertir la columna 'posiciÃ³n' a numÃ©rico
df_original_tr['posiciÃ³n'] = pd.to_numeric(df_original_tr['posiciÃ³n'], errors='coerce')
df_corregidas_tr['posiciÃ³n'] = pd.to_numeric(df_corregidas_tr['posiciÃ³n'], errors='coerce')

# ğŸ”¹ 3. Concatenar y ordenar
df_final_tr = pd.concat([df_original_tr, df_corregidas_tr]).sort_values(by=['palabra', 'posiciÃ³n'])
df_final_tr = df_final_tr.drop_duplicates(subset=['palabra'], keep='first')

# ğŸ”¹ 4. Orden final
df_final_tr = df_final_tr.sort_values(by='posiciÃ³n', na_position='last')
df_final_tr['posiciÃ³n'] = df_final_tr['posiciÃ³n'].apply(lambda x: 'none' if pd.isna(x) else int(x))

# ğŸ”¹ 5. Merge limpio (evitamos duplicados)
if 'tr_posiciones' in df_cities.columns:
    df_cities = df_cities.drop(columns=['tr_posiciones'])

df_cities = df_cities.merge(
    df_final_tr.rename(columns={'palabra': 'city_in_Turkish', 'posiciÃ³n': 'tr_posiciones'}), 
    on='city_in_Turkish', 
    how='left'
)

# ğŸ”¹ 6. Verificar faltantes
missing_tr = df_cities[df_cities['tr_posiciones'].isin(['none', 0]) | df_cities['tr_posiciones'].isna()]

# ğŸ”¹ 7. Imprimir TODO el DataFrame completo para validar
print("\nâœ… DataFrame completo con 'tr_posiciones' agregado:\n")
print(df_cities.head(20))

print(f"\nâš ï¸ Ciudades en turco sin posiciÃ³n asignada (total: {len(missing_tr)}):\n")
print(missing_tr[['city_in_Turkish', 'tr_posiciones']])

âœ… DataFrame completo con 'tr_posiciones' agregado:

    population          city      country      continent     city_in_Spanish  \
0     37115000         Tokyo        Japan           Asia               Tokio
1     33807400         Delhi        India           Asia               Delhi
2     29867900      Shanghai        China           Asia  Llevar a la fuerza
3     23935700         Dhaka   Bangladesh           Asia               Dacca
4     22806700     Sao Paulo       Brazil  South America           San Pablo
5     22623900         Cairo        Egypt         Africa            El Cairo
6     22505300   Mexico City       Mexico  North America    Ciudad de MÃ©xico
7     22189100       Beijing        China           Asia               PekÃ­n
8     21673100        Mumbai        India           Asia              Bombay
9     18967500         Osaka        Japan           Asia               Osaka
10    17773900     Chongqing        China           Asia           Chongqing
11    17648600       Karachi     Pakistan           Asia             Karachi
12    17032300      Kinshasa     DR Congo         Africa            Kinshasa
13    16536000         Lagos      Nigeria         Africa               Lagos
14    16047400      Istanbul       Turkey           Asia            Estanbul
15    15618300  Buenos Aires    Argentina  South America        Buenos Aires
16    15570800       Kolkata        India           Asia             Calcuta
17    14942000        Manila  Philippines           Asia              Manila
18    14590100     Guangzhou        China           Asia              CantÃ³n
19    14470900       Tianjin        China           Asia             Tianjin

   city_in_Chinese city_in_Arabic city_in_Indonesian city_in_Swahili  \
0               ä¸œäº¬          Ø·ÙˆÙƒÙŠÙˆ              Tokyo           Tokyo
1               å¾·é‡Œ           Ø¯Ù„Ù‡ÙŠ              Delhi           Delhi
2               ä¸Šæµ·         Ø´Ù†ØºÙ‡Ø§ÙŠ      Kota Shanghai        Shanghai
3               è¾¾å¡            Ø¯ÙƒØ§         Kota Dhaka           Dhaka
4              åœ£ä¿ç½—      Ø³Ø§Ùˆ Ø¨Ø§ÙˆÙ„Ùˆ          Sao Paulo       SÃ£o Paulo
5               å¼€ç½—        Ø§Ù„Ù‚Ø§Ù‡Ø±Ø©              Kairo           Cairo
6             å¢¨è¥¿å“¥åŸ   Ù…Ø¯ÙŠÙ†Ø© Ù…ÙƒØ³ÙŠÙƒÙˆ       Kota Meksiko     Mexico City
7               åŒ—äº¬           Ø¨ÙƒÙŠÙ†       Kota Beijing         Beijing
8               å­Ÿä¹°         Ù…ÙˆÙ…Ø¨Ø§ÙŠ             Mumbai          Mumbai
9               å¤§é˜ª         Ø£ÙˆØ³Ø§ÙƒØ§              Osaka           Osaka
10              é‡åº†     ØªØ´ÙˆÙ†ØºØªØ´ÙŠÙ†Øº     Kota Chongqing       Chongqing
11             å¡æ‹‰å¥‡         ÙƒØ±Ø§ØªØ´ÙŠ            Karachi         Karachi
12             é‡‘æ²™è¨        ÙƒÙŠÙ†Ø´Ø§Ø³Ø§      Kota Kinshasa        Kinshasa
13             æ‹‰å„æ–¯          Ù„Ø§ØºÙˆØ³         Kota Lagos           Lagos
14           ä¼Šæ–¯å¦å¸ƒå°”        Ø§Ø³Ø·Ù†Ø¨ÙˆÙ„           Istanbul        Istanbul
15         å¸ƒå®œè¯ºæ–¯è‰¾åˆ©æ–¯     Ø¨ÙˆÙŠÙ†Ø³ Ø¢ÙŠØ±Ø³       Buenos Aires    Buenos Aires
16            åŠ å°”å„ç­”        ÙƒÙˆÙ„ÙƒØ§ØªØ§            Kolkata         Kolkata
17             é©¬å°¼æ‹‰         Ù…Ø§Ù†ÙŠÙ„Ø§        Kota Manila          Manila
18              å¹¿å·       Ù‚ÙˆØ§Ù†ØºØªØ´Ùˆ     Kota Guangzhou       Guangzhou
19              å¤©æ´¥        ØªÙŠØ§Ù†Ø¬ÙŠÙ†       Kota Tianjin         Tianjin

     city_in_Tamil  ... city_in_Vietnamese   city_in_Thai city_in_Portuguese  \
0         à®Ÿà¯‹à®•à¯à®•à®¿à®¯à¯‹  ...              Tokyo        à¹‚à¸•à¹€à¸à¸µà¸¢à¸§             TÃ³quio
1           à®Ÿà¯†à®²à¯à®²à®¿  ...              ÄÃª-li           à¹€à¸”à¸¥à¸µ              DÃ©lhi
2         à®·à®¾à®™à¯à®•à®¾à®¯à¯  ...         ThÆ°á»£ng Háº£i      à¹€à¸‹à¸µà¹ˆà¸¢à¸‡à¹„à¸®à¹‰             Xangai
3           à®Ÿà®¾à®•à¯à®•à®¾  ...             Äáº¯c-ca           à¸˜à¸²à¸à¸²              Dhaka
4        à®šà®¾à®µà¯ à®ªà®¾à®²à¯‹  ...          Sao Paulo       à¹€à¸‹à¸²à¹€à¸›à¸²à¹‚à¸¥          Sao Paulo
5           à®•à¯†à®¯à¯à®°à¯‹  ...              Cairo           à¹„à¸„à¹‚à¸£              Cairo
6   à®®à¯†à®•à¯à®šà®¿à®•à¯‹ à®¨à®•à®°à®®à¯  ...   ThÃ nh phá»‘ Mexico  à¹€à¸¡à¹‡à¸à¸‹à¸´à¹‚à¸à¸‹à¸´à¸•à¸µà¹‰   Cidade do MÃ©xico
7         à®ªà¯†à®¯à¯à®œà®¿à®™à¯  ...           Báº¯c Kinh        à¸›à¸±à¸à¸à¸´à¹ˆà¸‡             Pequim
8           à®®à¯à®®à¯à®ªà¯ˆ  ...             Mumbai          à¸¡à¸¸à¸¡à¹„à¸š             Mumbai
9            à®’à®šà®¾à®•à®¾  ...              Osaka        à¹‚à¸­à¸‹à¸²à¸à¹‰à¸²              Osaka
10        à®šà¯‹à®™à¯à®•à®¿à®™à¯  ...        TrÃ¹ng KhÃ¡nh         à¸‰à¸‡à¸Šà¸´à¹ˆà¸‡          Chongqing
11         à®•à®°à®¾à®šà¯à®šà®¿  ...            Karachi         à¸à¸²à¸£à¸²à¸ˆà¸µ            Carachi
12        à®•à®¿à®©à¯à®·à®¾à®šà®¾  ...           Kinshasa        à¸à¸´à¸™à¸Šà¸²à¸‹à¸²           Kinshasa
13          à®²à®¾à®•à¯‹à®¸à¯  ...              Lagos          à¸¥à¸²à¸à¸­à¸ª              Lagos
14     à®‡à®¸à¯à®¤à®¾à®©à¯à®ªà¯à®²à¯  ...           Istanbul      à¸­à¸´à¸ªà¸•à¸±à¸™à¸šà¸¹à¸¥           Istambul
15  à®ªà®¿à®¯à¯‚à®©à®¸à¯ à®…à®¯à®°à¯à®¸à¯  ...       Buenos Aires    à¸šà¸±à¸§à¹‚à¸™à¸ªà¹„à¸­à¹€à¸£à¸ª       Buenos Aires
16       à®•à¯Šà®²à¯à®•à®¤à¯à®¤à®¾  ...            Kolkata        à¹‚à¸à¸¥à¸à¸²à¸•à¸²            CalcutÃ¡
17           à®®à®£à®¿à®²à®¾  ...             Manila         à¸¡à¸°à¸™à¸´à¸¥à¸²             Manila
18        à®•à¯à®µà®¾à®™à¯à®šà¯‹  ...         Quáº£ng ChÃ¢u       à¸à¸§à¹ˆà¸²à¸‡à¹‚à¸ˆà¸§          Guangzhou
19      à®¤à®¿à®¯à®¾à®©à¯à®œà®¿à®©à¯  ...          ThiÃªn TÃ¢n       à¹€à¸—à¸µà¸¢à¸™à¸ˆà¸´à¸™            Tianjin

   city_in_French en_posiciones sp_posiciones ch_posiciones sw_posiciones  \
0           Tokyo          5872          7624          4662          4852
1           Delhi          4853         22845         11384          6482
2        Shanghai          9021         26129           344          9130
3           Dhaka         22451        217225         82180         19070
4       SÃ£o Paulo         24092          1136         27780          5076
5           Caire         12249         14915         27651          5852
6         Mexique          2258           810         36649          2565
7           PÃ©kin          7223         11110           172          5001
8          Mumbai          6388         30581         35115          8969
9           Osaka         20495         23167          4818         12672
10      Chongqing         45959         76342          1451         84346
11        Karachi         21056         81600         65375          9797
12       Kinshasa         67647         99986        163932          3885
13          Lagos         17041         10952         98664          3457
14       Istanbul         12656        479219         26448          3851
15   Buenos Aires         15101           854         48322          6101
16        Kolkata         15268         32627         61341          8407
17        Manille         12339         22288         30532         13420
18      Guangzhou         26711         14439          1114         23404
19        Tianjin         42219         71455          1374         49341

   ta_posiciones tr_posiciones
0          21427          8728
1           2558         29739
2          47973         31958
3          22134        117593
4          26236         27514
5          31985         13538
6          12063          9028
7          21351         11795
8           1545         74960
9         151229         31918
10        177294        350718
11         26069        106496
12        163932        191384
13        154897         67357
14         41901            70
15        271710         29893
16          5449        130744
17         28598         61945
18        203616         60378
19        318362        121022

[20 rows x 24 columns]

âš ï¸ Ciudades en turco sin posiciÃ³n asignada (total: 95):

    city_in_Turkish tr_posiciones
25           Ã‡ennai          none
41            Åi'an          none
52          Åenyang          none
55            FoÅŸan          none
77        Ã‡ittagong          none
..              ...           ...
784       Tongalama          none
798          Bacoor          none
799         Dongtay          none
800    Zhangjiagang          none
801  Nanded Waghala          none

[95 rows x 2 columns]

In [29]:
# ğŸ”¹ 1. Cargar los dos CSVs de posiciones en finlandÃ©s
df_original_fi = pd.read_csv('posiciones_ciudades_FI.csv')
df_corregidas_fi = pd.read_csv('posiciones_ciudades_corregidas_FI.csv')

# ğŸ”¹ 2. Convertir la columna 'posiciÃ³n' a numÃ©rico
df_original_fi['posiciÃ³n'] = pd.to_numeric(df_original_fi['posiciÃ³n'], errors='coerce')
df_corregidas_fi['posiciÃ³n'] = pd.to_numeric(df_corregidas_fi['posiciÃ³n'], errors='coerce')

# ğŸ”¹ 3. Concatenar y ordenar
df_final_fi = pd.concat([df_original_fi, df_corregidas_fi]).sort_values(by=['palabra', 'posiciÃ³n'])
df_final_fi = df_final_fi.drop_duplicates(subset=['palabra'], keep='first')

# ğŸ”¹ 4. Orden final
df_final_fi = df_final_fi.sort_values(by='posiciÃ³n', na_position='last')
df_final_fi['posiciÃ³n'] = df_final_fi['posiciÃ³n'].apply(lambda x: 'none' if pd.isna(x) else int(x))

# ğŸ”¹ 5. Merge limpio (evitamos duplicados)
if 'fn_posiciones' in df_cities.columns:
    df_cities = df_cities.drop(columns=['fn_posiciones'])

df_cities = df_cities.merge(
    df_final_fi.rename(columns={'palabra': 'city_in_Finnish', 'posiciÃ³n': 'fn_posiciones'}), 
    on='city_in_Finnish', 
    how='left'
)

# ğŸ”¹ 6. Verificar faltantes
missing_fi = df_cities[df_cities['fn_posiciones'].isin(['none', 0]) | df_cities['fn_posiciones'].isna()]

# ğŸ”¹ 7. Imprimir TODO el DataFrame completo para validar
print("\nâœ… DataFrame completo con 'fn_posiciones' agregado:\n")
print(df_cities.head(20))

print(f"\nâš ï¸ Ciudades en finlandÃ©s sin posiciÃ³n asignada (total: {len(missing_fi)}):\n")
print(missing_fi[['city_in_Finnish', 'fn_posiciones']])

âœ… DataFrame completo con 'fn_posiciones' agregado:

    population          city      country      continent     city_in_Spanish  \
0     37115000         Tokyo        Japan           Asia               Tokio
1     33807400         Delhi        India           Asia               Delhi
2     29867900      Shanghai        China           Asia  Llevar a la fuerza
3     23935700         Dhaka   Bangladesh           Asia               Dacca
4     22806700     Sao Paulo       Brazil  South America           San Pablo
5     22623900         Cairo        Egypt         Africa            El Cairo
6     22505300   Mexico City       Mexico  North America    Ciudad de MÃ©xico
7     22189100       Beijing        China           Asia               PekÃ­n
8     21673100        Mumbai        India           Asia              Bombay
9     18967500         Osaka        Japan           Asia               Osaka
10    17773900     Chongqing        China           Asia           Chongqing
11    17648600       Karachi     Pakistan           Asia             Karachi
12    17032300      Kinshasa     DR Congo         Africa            Kinshasa
13    16536000         Lagos      Nigeria         Africa               Lagos
14    16047400      Istanbul       Turkey           Asia            Estanbul
15    15618300  Buenos Aires    Argentina  South America        Buenos Aires
16    15570800       Kolkata        India           Asia             Calcuta
17    14942000        Manila  Philippines           Asia              Manila
18    14590100     Guangzhou        China           Asia              CantÃ³n
19    14470900       Tianjin        China           Asia             Tianjin

   city_in_Chinese city_in_Arabic city_in_Indonesian city_in_Swahili  \
0               ä¸œäº¬          Ø·ÙˆÙƒÙŠÙˆ              Tokyo           Tokyo
1               å¾·é‡Œ           Ø¯Ù„Ù‡ÙŠ              Delhi           Delhi
2               ä¸Šæµ·         Ø´Ù†ØºÙ‡Ø§ÙŠ      Kota Shanghai        Shanghai
3               è¾¾å¡            Ø¯ÙƒØ§         Kota Dhaka           Dhaka
4              åœ£ä¿ç½—      Ø³Ø§Ùˆ Ø¨Ø§ÙˆÙ„Ùˆ          Sao Paulo       SÃ£o Paulo
5               å¼€ç½—        Ø§Ù„Ù‚Ø§Ù‡Ø±Ø©              Kairo           Cairo
6             å¢¨è¥¿å“¥åŸ   Ù…Ø¯ÙŠÙ†Ø© Ù…ÙƒØ³ÙŠÙƒÙˆ       Kota Meksiko     Mexico City
7               åŒ—äº¬           Ø¨ÙƒÙŠÙ†       Kota Beijing         Beijing
8               å­Ÿä¹°         Ù…ÙˆÙ…Ø¨Ø§ÙŠ             Mumbai          Mumbai
9               å¤§é˜ª         Ø£ÙˆØ³Ø§ÙƒØ§              Osaka           Osaka
10              é‡åº†     ØªØ´ÙˆÙ†ØºØªØ´ÙŠÙ†Øº     Kota Chongqing       Chongqing
11             å¡æ‹‰å¥‡         ÙƒØ±Ø§ØªØ´ÙŠ            Karachi         Karachi
12             é‡‘æ²™è¨        ÙƒÙŠÙ†Ø´Ø§Ø³Ø§      Kota Kinshasa        Kinshasa
13             æ‹‰å„æ–¯          Ù„Ø§ØºÙˆØ³         Kota Lagos           Lagos
14           ä¼Šæ–¯å¦å¸ƒå°”        Ø§Ø³Ø·Ù†Ø¨ÙˆÙ„           Istanbul        Istanbul
15         å¸ƒå®œè¯ºæ–¯è‰¾åˆ©æ–¯     Ø¨ÙˆÙŠÙ†Ø³ Ø¢ÙŠØ±Ø³       Buenos Aires    Buenos Aires
16            åŠ å°”å„ç­”        ÙƒÙˆÙ„ÙƒØ§ØªØ§            Kolkata         Kolkata
17             é©¬å°¼æ‹‰         Ù…Ø§Ù†ÙŠÙ„Ø§        Kota Manila          Manila
18              å¹¿å·       Ù‚ÙˆØ§Ù†ØºØªØ´Ùˆ     Kota Guangzhou       Guangzhou
19              å¤©æ´¥        ØªÙŠØ§Ù†Ø¬ÙŠÙ†       Kota Tianjin         Tianjin

     city_in_Tamil  ...   city_in_Thai city_in_Portuguese city_in_French  \
0         à®Ÿà¯‹à®•à¯à®•à®¿à®¯à¯‹  ...        à¹‚à¸•à¹€à¸à¸µà¸¢à¸§             TÃ³quio          Tokyo
1           à®Ÿà¯†à®²à¯à®²à®¿  ...           à¹€à¸”à¸¥à¸µ              DÃ©lhi          Delhi
2         à®·à®¾à®™à¯à®•à®¾à®¯à¯  ...      à¹€à¸‹à¸µà¹ˆà¸¢à¸‡à¹„à¸®à¹‰             Xangai       Shanghai
3           à®Ÿà®¾à®•à¯à®•à®¾  ...           à¸˜à¸²à¸à¸²              Dhaka          Dhaka
4        à®šà®¾à®µà¯ à®ªà®¾à®²à¯‹  ...       à¹€à¸‹à¸²à¹€à¸›à¸²à¹‚à¸¥          Sao Paulo      SÃ£o Paulo
5           à®•à¯†à®¯à¯à®°à¯‹  ...           à¹„à¸„à¹‚à¸£              Cairo          Caire
6   à®®à¯†à®•à¯à®šà®¿à®•à¯‹ à®¨à®•à®°à®®à¯  ...  à¹€à¸¡à¹‡à¸à¸‹à¸´à¹‚à¸à¸‹à¸´à¸•à¸µà¹‰   Cidade do MÃ©xico        Mexique
7         à®ªà¯†à®¯à¯à®œà®¿à®™à¯  ...        à¸›à¸±à¸à¸à¸´à¹ˆà¸‡             Pequim          PÃ©kin
8           à®®à¯à®®à¯à®ªà¯ˆ  ...          à¸¡à¸¸à¸¡à¹„à¸š             Mumbai         Mumbai
9            à®’à®šà®¾à®•à®¾  ...        à¹‚à¸­à¸‹à¸²à¸à¹‰à¸²              Osaka          Osaka
10        à®šà¯‹à®™à¯à®•à®¿à®™à¯  ...         à¸‰à¸‡à¸Šà¸´à¹ˆà¸‡          Chongqing      Chongqing
11         à®•à®°à®¾à®šà¯à®šà®¿  ...         à¸à¸²à¸£à¸²à¸ˆà¸µ            Carachi        Karachi
12        à®•à®¿à®©à¯à®·à®¾à®šà®¾  ...        à¸à¸´à¸™à¸Šà¸²à¸‹à¸²           Kinshasa       Kinshasa
13          à®²à®¾à®•à¯‹à®¸à¯  ...          à¸¥à¸²à¸à¸­à¸ª              Lagos          Lagos
14     à®‡à®¸à¯à®¤à®¾à®©à¯à®ªà¯à®²à¯  ...      à¸­à¸´à¸ªà¸•à¸±à¸™à¸šà¸¹à¸¥           Istambul       Istanbul
15  à®ªà®¿à®¯à¯‚à®©à®¸à¯ à®…à®¯à®°à¯à®¸à¯  ...    à¸šà¸±à¸§à¹‚à¸™à¸ªà¹„à¸­à¹€à¸£à¸ª       Buenos Aires   Buenos Aires
16       à®•à¯Šà®²à¯à®•à®¤à¯à®¤à®¾  ...        à¹‚à¸à¸¥à¸à¸²à¸•à¸²            CalcutÃ¡        Kolkata
17           à®®à®£à®¿à®²à®¾  ...         à¸¡à¸°à¸™à¸´à¸¥à¸²             Manila        Manille
18        à®•à¯à®µà®¾à®™à¯à®šà¯‹  ...       à¸à¸§à¹ˆà¸²à¸‡à¹‚à¸ˆà¸§          Guangzhou      Guangzhou
19      à®¤à®¿à®¯à®¾à®©à¯à®œà®¿à®©à¯  ...       à¹€à¸—à¸µà¸¢à¸™à¸ˆà¸´à¸™            Tianjin        Tianjin

   en_posiciones sp_posiciones ch_posiciones sw_posiciones ta_posiciones  \
0           5872          7624          4662          4852         21427
1           4853         22845         11384          6482          2558
2           9021         26129           344          9130         47973
3          22451        217225         82180         19070         22134
4          24092          1136         27780          5076         26236
5          12249         14915         27651          5852         31985
6           2258           810         36649          2565         12063
7           7223         11110           172          5001         21351
8           6388         30581         35115          8969          1545
9          20495         23167          4818         12672        151229
10         45959         76342          1451         84346        177294
11         21056         81600         65375          9797         26069
12         67647         99986        163932          3885        163932
13         17041         10952         98664          3457        154897
14         12656        479219         26448          3851         41901
15         15101           854         48322          6101        271710
16         15268         32627         61341          8407          5449
17         12339         22288         30532         13420         28598
18         26711         14439          1114         23404        203616
19         42219         71455          1374         49341        318362

   tr_posiciones fn_posiciones
0           8728         23280
1          29739         48244
2          31958         22204
3         117593        247733
4          27514         16688
5          13538         72933
6           9028         24562
7          11795         38503
8          74960         57816
9          31918         38314
10        350718        153285
11        106496        206055
12        191384        165866
13         67357         92270
14            70         25288
15         29893         34561
16        130744        375263
17         61945         76390
18         60378        104035
19        121022        138260

[20 rows x 25 columns]

âš ï¸ Ciudades en finlandÃ©s sin posiciÃ³n asignada (total: 93):

    city_in_Finnish fn_posiciones
41            Xi'an          none
59          Haerbin          none
111   EkurhulenissÃ¤          none
112      Malappuram          none
134        Thrissur          none
..              ...           ...
794        Sargodha          none
798          Bacoor          none
799         Dongtai          none
800    Zhangjiagang          none
801  Nanded Waghala          none

[93 rows x 2 columns]

In [30]:
# ğŸ”¹ 1. Cargar los dos CSVs de posiciones en japonÃ©s
df_original_ja = pd.read_csv('posiciones_ciudades_JA.csv')
df_corregidas_ja = pd.read_csv('posiciones_ciudades_corregidas_JA.csv')

# ğŸ”¹ 2. Convertir la columna 'posiciÃ³n' a numÃ©rico
df_original_ja['posiciÃ³n'] = pd.to_numeric(df_original_ja['posiciÃ³n'], errors='coerce')
df_corregidas_ja['posiciÃ³n'] = pd.to_numeric(df_corregidas_ja['posiciÃ³n'], errors='coerce')

# ğŸ”¹ 3. Concatenar y ordenar
df_final_ja = pd.concat([df_original_ja, df_corregidas_ja]).sort_values(by=['palabra', 'posiciÃ³n'])
df_final_ja = df_final_ja.drop_duplicates(subset=['palabra'], keep='first')

# ğŸ”¹ 4. Orden final
df_final_ja = df_final_ja.sort_values(by='posiciÃ³n', na_position='last')
df_final_ja['posiciÃ³n'] = df_final_ja['posiciÃ³n'].apply(lambda x: 'none' if pd.isna(x) else int(x))

# ğŸ”¹ 5. Merge limpio (evitamos duplicados)
if 'jp_posiciones' in df_cities.columns:
    df_cities = df_cities.drop(columns=['jp_posiciones'])

df_cities = df_cities.merge(
    df_final_ja.rename(columns={'palabra': 'city_in_Japanese', 'posiciÃ³n': 'jp_posiciones'}), 
    on='city_in_Japanese', 
    how='left'
)

# ğŸ”¹ 6. Verificar faltantes
missing_ja = df_cities[df_cities['jp_posiciones'].isin(['none', 0]) | df_cities['jp_posiciones'].isna()]

# ğŸ”¹ 7. Imprimir TODO el DataFrame completo para validar
print("\nâœ… DataFrame completo con 'jp_posiciones' agregado:\n")
print(df_cities.head(20))

print(f"\nâš ï¸ Ciudades en japonÃ©s sin posiciÃ³n asignada (total: {len(missing_ja)}):\n")
print(missing_ja[['city_in_Japanese', 'jp_posiciones']])

âœ… DataFrame completo con 'jp_posiciones' agregado:

    population          city      country      continent     city_in_Spanish  \
0     37115000         Tokyo        Japan           Asia               Tokio
1     33807400         Delhi        India           Asia               Delhi
2     29867900      Shanghai        China           Asia  Llevar a la fuerza
3     23935700         Dhaka   Bangladesh           Asia               Dacca
4     22806700     Sao Paulo       Brazil  South America           San Pablo
5     22623900         Cairo        Egypt         Africa            El Cairo
6     22505300   Mexico City       Mexico  North America    Ciudad de MÃ©xico
7     22189100       Beijing        China           Asia               PekÃ­n
8     21673100        Mumbai        India           Asia              Bombay
9     18967500         Osaka        Japan           Asia               Osaka
10    17773900     Chongqing        China           Asia           Chongqing
11    17648600       Karachi     Pakistan           Asia             Karachi
12    17032300      Kinshasa     DR Congo         Africa            Kinshasa
13    16536000         Lagos      Nigeria         Africa               Lagos
14    16047400      Istanbul       Turkey           Asia            Estanbul
15    15618300  Buenos Aires    Argentina  South America        Buenos Aires
16    15570800       Kolkata        India           Asia             Calcuta
17    14942000        Manila  Philippines           Asia              Manila
18    14590100     Guangzhou        China           Asia              CantÃ³n
19    14470900       Tianjin        China           Asia             Tianjin

   city_in_Chinese city_in_Arabic city_in_Indonesian city_in_Swahili  \
0               ä¸œäº¬          Ø·ÙˆÙƒÙŠÙˆ              Tokyo           Tokyo
1               å¾·é‡Œ           Ø¯Ù„Ù‡ÙŠ              Delhi           Delhi
2               ä¸Šæµ·         Ø´Ù†ØºÙ‡Ø§ÙŠ      Kota Shanghai        Shanghai
3               è¾¾å¡            Ø¯ÙƒØ§         Kota Dhaka           Dhaka
4              åœ£ä¿ç½—      Ø³Ø§Ùˆ Ø¨Ø§ÙˆÙ„Ùˆ          Sao Paulo       SÃ£o Paulo
5               å¼€ç½—        Ø§Ù„Ù‚Ø§Ù‡Ø±Ø©              Kairo           Cairo
6             å¢¨è¥¿å“¥åŸ   Ù…Ø¯ÙŠÙ†Ø© Ù…ÙƒØ³ÙŠÙƒÙˆ       Kota Meksiko     Mexico City
7               åŒ—äº¬           Ø¨ÙƒÙŠÙ†       Kota Beijing         Beijing
8               å­Ÿä¹°         Ù…ÙˆÙ…Ø¨Ø§ÙŠ             Mumbai          Mumbai
9               å¤§é˜ª         Ø£ÙˆØ³Ø§ÙƒØ§              Osaka           Osaka
10              é‡åº†     ØªØ´ÙˆÙ†ØºØªØ´ÙŠÙ†Øº     Kota Chongqing       Chongqing
11             å¡æ‹‰å¥‡         ÙƒØ±Ø§ØªØ´ÙŠ            Karachi         Karachi
12             é‡‘æ²™è¨        ÙƒÙŠÙ†Ø´Ø§Ø³Ø§      Kota Kinshasa        Kinshasa
13             æ‹‰å„æ–¯          Ù„Ø§ØºÙˆØ³         Kota Lagos           Lagos
14           ä¼Šæ–¯å¦å¸ƒå°”        Ø§Ø³Ø·Ù†Ø¨ÙˆÙ„           Istanbul        Istanbul
15         å¸ƒå®œè¯ºæ–¯è‰¾åˆ©æ–¯     Ø¨ÙˆÙŠÙ†Ø³ Ø¢ÙŠØ±Ø³       Buenos Aires    Buenos Aires
16            åŠ å°”å„ç­”        ÙƒÙˆÙ„ÙƒØ§ØªØ§            Kolkata         Kolkata
17             é©¬å°¼æ‹‰         Ù…Ø§Ù†ÙŠÙ„Ø§        Kota Manila          Manila
18              å¹¿å·       Ù‚ÙˆØ§Ù†ØºØªØ´Ùˆ     Kota Guangzhou       Guangzhou
19              å¤©æ´¥        ØªÙŠØ§Ù†Ø¬ÙŠÙ†       Kota Tianjin         Tianjin

     city_in_Tamil  ... city_in_Portuguese city_in_French en_posiciones  \
0         à®Ÿà¯‹à®•à¯à®•à®¿à®¯à¯‹  ...             TÃ³quio          Tokyo          5872
1           à®Ÿà¯†à®²à¯à®²à®¿  ...              DÃ©lhi          Delhi          4853
2         à®·à®¾à®™à¯à®•à®¾à®¯à¯  ...             Xangai       Shanghai          9021
3           à®Ÿà®¾à®•à¯à®•à®¾  ...              Dhaka          Dhaka         22451
4        à®šà®¾à®µà¯ à®ªà®¾à®²à¯‹  ...          Sao Paulo      SÃ£o Paulo         24092
5           à®•à¯†à®¯à¯à®°à¯‹  ...              Cairo          Caire         12249
6   à®®à¯†à®•à¯à®šà®¿à®•à¯‹ à®¨à®•à®°à®®à¯  ...   Cidade do MÃ©xico        Mexique          2258
7         à®ªà¯†à®¯à¯à®œà®¿à®™à¯  ...             Pequim          PÃ©kin          7223
8           à®®à¯à®®à¯à®ªà¯ˆ  ...             Mumbai         Mumbai          6388
9            à®’à®šà®¾à®•à®¾  ...              Osaka          Osaka         20495
10        à®šà¯‹à®™à¯à®•à®¿à®™à¯  ...          Chongqing      Chongqing         45959
11         à®•à®°à®¾à®šà¯à®šà®¿  ...            Carachi        Karachi         21056
12        à®•à®¿à®©à¯à®·à®¾à®šà®¾  ...           Kinshasa       Kinshasa         67647
13          à®²à®¾à®•à¯‹à®¸à¯  ...              Lagos          Lagos         17041
14     à®‡à®¸à¯à®¤à®¾à®©à¯à®ªà¯à®²à¯  ...           Istambul       Istanbul         12656
15  à®ªà®¿à®¯à¯‚à®©à®¸à¯ à®…à®¯à®°à¯à®¸à¯  ...       Buenos Aires   Buenos Aires         15101
16       à®•à¯Šà®²à¯à®•à®¤à¯à®¤à®¾  ...            CalcutÃ¡        Kolkata         15268
17           à®®à®£à®¿à®²à®¾  ...             Manila        Manille         12339
18        à®•à¯à®µà®¾à®™à¯à®šà¯‹  ...          Guangzhou      Guangzhou         26711
19      à®¤à®¿à®¯à®¾à®©à¯à®œà®¿à®©à¯  ...            Tianjin        Tianjin         42219

   sp_posiciones ch_posiciones sw_posiciones ta_posiciones tr_posiciones  \
0           7624          4662          4852         21427          8728
1          22845         11384          6482          2558         29739
2          26129           344          9130         47973         31958
3         217225         82180         19070         22134        117593
4           1136         27780          5076         26236         27514
5          14915         27651          5852         31985         13538
6            810         36649          2565         12063          9028
7          11110           172          5001         21351         11795
8          30581         35115          8969          1545         74960
9          23167          4818         12672        151229         31918
10         76342          1451         84346        177294        350718
11         81600         65375          9797         26069        106496
12         99986        163932          3885        163932        191384
13         10952         98664          3457        154897         67357
14        479219         26448          3851         41901            70
15           854         48322          6101        271710         29893
16         32627         61341          8407          5449        130744
17         22288         30532         13420         28598         61945
18         14439          1114         23404        203616         60378
19         71455          1374         49341        318362        121022

   fn_posiciones jp_posiciones
0          23280           211
1          48244         23766
2          22204          5165
3         247733         59505
4          16688         24286
5          72933         14539
6          24562         48184
7          38503          5261
8          57816         43246
9          38314           428
10        153285         31453
11        206055         79522
12        165866        103983
13         92270         79325
14         25288         23117
15         34561         30170
16        375263         73906
17         76390         17933
18        104035         19169
19        138260         16721

[20 rows x 26 columns]

âš ï¸ Ciudades en japonÃ©s sin posiciÃ³n asignada (total: 84):

    city_in_Japanese jp_posiciones
56                æ±è          none
68                é„­å·          none
85                é•·æ²™          none
90                æ˜†æ˜          none
93                åˆè‚¥          none
..               ...           ...
763               å»¶å®‰          none
783           ã‚·ã‚¢ãƒ«ã‚³ãƒƒãƒˆ          none
793          ã‚¢ãƒ«ãƒ»ãƒ•ãƒ€ã‚¤ãƒ€          none
801        ãƒŠãƒ³ãƒ‡ãƒƒãƒ‰ãƒ»ãƒ¯ã‚¬ãƒ©          none
805            ãƒãƒ´ãƒŠã‚¬ãƒ«          none

[84 rows x 2 columns]

In [31]:
# ğŸ”¹ 1. Cargar los dos CSVs de posiciones en coreano
df_original_ko = pd.read_csv('posiciones_ciudades_KO.csv')
df_corregidas_ko = pd.read_csv('posiciones_ciudades_corregidas_KO.csv')

# ğŸ”¹ 2. Convertir la columna 'posiciÃ³n' a numÃ©rico
df_original_ko['posiciÃ³n'] = pd.to_numeric(df_original_ko['posiciÃ³n'], errors='coerce')
df_corregidas_ko['posiciÃ³n'] = pd.to_numeric(df_corregidas_ko['posiciÃ³n'], errors='coerce')

# ğŸ”¹ 3. Concatenar y ordenar
df_final_ko = pd.concat([df_original_ko, df_corregidas_ko]).sort_values(by=['palabra', 'posiciÃ³n'])
df_final_ko = df_final_ko.drop_duplicates(subset=['palabra'], keep='first')

# ğŸ”¹ 4. Orden final
df_final_ko = df_final_ko.sort_values(by='posiciÃ³n', na_position='last')
df_final_ko['posiciÃ³n'] = df_final_ko['posiciÃ³n'].apply(lambda x: 'none' if pd.isna(x) else int(x))

# ğŸ”¹ 5. Merge limpio (evitamos duplicados)
if 'ko_posiciones' in df_cities.columns:
    df_cities = df_cities.drop(columns=['ko_posiciones'])

df_cities = df_cities.merge(
    df_final_ko.rename(columns={'palabra': 'city_in_Korean', 'posiciÃ³n': 'ko_posiciones'}), 
    on='city_in_Korean', 
    how='left'
)

# ğŸ”¹ 6. Verificar faltantes
missing_ko = df_cities[df_cities['ko_posiciones'].isin(['none', 0]) | df_cities['ko_posiciones'].isna()]

# ğŸ”¹ 7. Imprimir TODO el DataFrame completo para validar
print("\nâœ… DataFrame completo con 'ko_posiciones' agregado:\n")
print(df_cities.head(20))

print(f"\nâš ï¸ Ciudades en coreano sin posiciÃ³n asignada (total: {len(missing_ko)}):\n")
print(missing_ko[['city_in_Korean', 'ko_posiciones']])

âœ… DataFrame completo con 'ko_posiciones' agregado:

    population          city      country      continent     city_in_Spanish  \
0     37115000         Tokyo        Japan           Asia               Tokio
1     33807400         Delhi        India           Asia               Delhi
2     29867900      Shanghai        China           Asia  Llevar a la fuerza
3     23935700         Dhaka   Bangladesh           Asia               Dacca
4     22806700     Sao Paulo       Brazil  South America           San Pablo
5     22623900         Cairo        Egypt         Africa            El Cairo
6     22505300   Mexico City       Mexico  North America    Ciudad de MÃ©xico
7     22189100       Beijing        China           Asia               PekÃ­n
8     21673100        Mumbai        India           Asia              Bombay
9     18967500         Osaka        Japan           Asia               Osaka
10    17773900     Chongqing        China           Asia           Chongqing
11    17648600       Karachi     Pakistan           Asia             Karachi
12    17032300      Kinshasa     DR Congo         Africa            Kinshasa
13    16536000         Lagos      Nigeria         Africa               Lagos
14    16047400      Istanbul       Turkey           Asia            Estanbul
15    15618300  Buenos Aires    Argentina  South America        Buenos Aires
16    15570800       Kolkata        India           Asia             Calcuta
17    14942000        Manila  Philippines           Asia              Manila
18    14590100     Guangzhou        China           Asia              CantÃ³n
19    14470900       Tianjin        China           Asia             Tianjin

   city_in_Chinese city_in_Arabic city_in_Indonesian city_in_Swahili  \
0               ä¸œäº¬          Ø·ÙˆÙƒÙŠÙˆ              Tokyo           Tokyo
1               å¾·é‡Œ           Ø¯Ù„Ù‡ÙŠ              Delhi           Delhi
2               ä¸Šæµ·         Ø´Ù†ØºÙ‡Ø§ÙŠ      Kota Shanghai        Shanghai
3               è¾¾å¡            Ø¯ÙƒØ§         Kota Dhaka           Dhaka
4              åœ£ä¿ç½—      Ø³Ø§Ùˆ Ø¨Ø§ÙˆÙ„Ùˆ          Sao Paulo       SÃ£o Paulo
5               å¼€ç½—        Ø§Ù„Ù‚Ø§Ù‡Ø±Ø©              Kairo           Cairo
6             å¢¨è¥¿å“¥åŸ   Ù…Ø¯ÙŠÙ†Ø© Ù…ÙƒØ³ÙŠÙƒÙˆ       Kota Meksiko     Mexico City
7               åŒ—äº¬           Ø¨ÙƒÙŠÙ†       Kota Beijing         Beijing
8               å­Ÿä¹°         Ù…ÙˆÙ…Ø¨Ø§ÙŠ             Mumbai          Mumbai
9               å¤§é˜ª         Ø£ÙˆØ³Ø§ÙƒØ§              Osaka           Osaka
10              é‡åº†     ØªØ´ÙˆÙ†ØºØªØ´ÙŠÙ†Øº     Kota Chongqing       Chongqing
11             å¡æ‹‰å¥‡         ÙƒØ±Ø§ØªØ´ÙŠ            Karachi         Karachi
12             é‡‘æ²™è¨        ÙƒÙŠÙ†Ø´Ø§Ø³Ø§      Kota Kinshasa        Kinshasa
13             æ‹‰å„æ–¯          Ù„Ø§ØºÙˆØ³         Kota Lagos           Lagos
14           ä¼Šæ–¯å¦å¸ƒå°”        Ø§Ø³Ø·Ù†Ø¨ÙˆÙ„           Istanbul        Istanbul
15         å¸ƒå®œè¯ºæ–¯è‰¾åˆ©æ–¯     Ø¨ÙˆÙŠÙ†Ø³ Ø¢ÙŠØ±Ø³       Buenos Aires    Buenos Aires
16            åŠ å°”å„ç­”        ÙƒÙˆÙ„ÙƒØ§ØªØ§            Kolkata         Kolkata
17             é©¬å°¼æ‹‰         Ù…Ø§Ù†ÙŠÙ„Ø§        Kota Manila          Manila
18              å¹¿å·       Ù‚ÙˆØ§Ù†ØºØªØ´Ùˆ     Kota Guangzhou       Guangzhou
19              å¤©æ´¥        ØªÙŠØ§Ù†Ø¬ÙŠÙ†       Kota Tianjin         Tianjin

     city_in_Tamil  ... city_in_French en_posiciones sp_posiciones  \
0         à®Ÿà¯‹à®•à¯à®•à®¿à®¯à¯‹  ...          Tokyo          5872          7624
1           à®Ÿà¯†à®²à¯à®²à®¿  ...          Delhi          4853         22845
2         à®·à®¾à®™à¯à®•à®¾à®¯à¯  ...       Shanghai          9021         26129
3           à®Ÿà®¾à®•à¯à®•à®¾  ...          Dhaka         22451        217225
4        à®šà®¾à®µà¯ à®ªà®¾à®²à¯‹  ...      SÃ£o Paulo         24092          1136
5           à®•à¯†à®¯à¯à®°à¯‹  ...          Caire         12249         14915
6   à®®à¯†à®•à¯à®šà®¿à®•à¯‹ à®¨à®•à®°à®®à¯  ...        Mexique          2258           810
7         à®ªà¯†à®¯à¯à®œà®¿à®™à¯  ...          PÃ©kin          7223         11110
8           à®®à¯à®®à¯à®ªà¯ˆ  ...         Mumbai          6388         30581
9            à®’à®šà®¾à®•à®¾  ...          Osaka         20495         23167
10        à®šà¯‹à®™à¯à®•à®¿à®™à¯  ...      Chongqing         45959         76342
11         à®•à®°à®¾à®šà¯à®šà®¿  ...        Karachi         21056         81600
12        à®•à®¿à®©à¯à®·à®¾à®šà®¾  ...       Kinshasa         67647         99986
13          à®²à®¾à®•à¯‹à®¸à¯  ...          Lagos         17041         10952
14     à®‡à®¸à¯à®¤à®¾à®©à¯à®ªà¯à®²à¯  ...       Istanbul         12656        479219
15  à®ªà®¿à®¯à¯‚à®©à®¸à¯ à®…à®¯à®°à¯à®¸à¯  ...   Buenos Aires         15101           854
16       à®•à¯Šà®²à¯à®•à®¤à¯à®¤à®¾  ...        Kolkata         15268         32627
17           à®®à®£à®¿à®²à®¾  ...        Manille         12339         22288
18        à®•à¯à®µà®¾à®™à¯à®šà¯‹  ...      Guangzhou         26711         14439
19      à®¤à®¿à®¯à®¾à®©à¯à®œà®¿à®©à¯  ...        Tianjin         42219         71455

   ch_posiciones sw_posiciones ta_posiciones tr_posiciones fn_posiciones  \
0           4662          4852         21427          8728         23280
1          11384          6482          2558         29739         48244
2            344          9130         47973         31958         22204
3          82180         19070         22134        117593        247733
4          27780          5076         26236         27514         16688
5          27651          5852         31985         13538         72933
6          36649          2565         12063          9028         24562
7            172          5001         21351         11795         38503
8          35115          8969          1545         74960         57816
9           4818         12672        151229         31918         38314
10          1451         84346        177294        350718        153285
11         65375          9797         26069        106496        206055
12        163932          3885        163932        191384        165866
13         98664          3457        154897         67357         92270
14         26448          3851         41901            70         25288
15         48322          6101        271710         29893         34561
16         61341          8407          5449        130744        375263
17         30532         13420         28598         61945         76390
18          1114         23404        203616         60378        104035
19          1374         49341        318362        121022        138260

   jp_posiciones ko_posiciones
0            211           681
1          23766          6829
2           5165           867
3          59505         71855
4          24286         18481
5          14539         15093
6          48184          1968
7           5261           879
8          43246         35831
9            428          1216
10         31453         29664
11         79522        120255
12        103983        204840
13         79325         36704
14         23117          2979
15         30170         63096
16         73906         77960
17         17933         16123
18         19169         11820
19         16721         24155

[20 rows x 27 columns]

âš ï¸ Ciudades en coreano sin posiciÃ³n asignada (total: 87):

    city_in_Korean ko_posiciones
111       ì—ì¿ ë¥´í›Œë ˆë‹ˆì—ì„œ          none
112           ë§ë¼í‘¸ëŒ          none
117           ë£¨í¬ë‚˜ìš°          none
134           íŠ¸ë¦¬ìŠˆë¥´          none
140         ìš°ì‹œ(ç„¡éŒ«)          none
..             ...           ...
791           ì§€ì•„ë¬´ìŠ¤          none
795           ë‚˜ì´í”¼ë„          none
798            ë°”ì¿ ë¥´          none
799            ë™íƒ€ì´          none
809            íŒì§€í™”          none

[87 rows x 2 columns]

In [32]:
# ğŸ”¹ 1. Cargar los dos CSVs de posiciones en vietnamita
df_original_vi = pd.read_csv('posiciones_ciudades_VI.csv')
df_corregidas_vi = pd.read_csv('posiciones_ciudades_corregidas_VI.csv')

# ğŸ”¹ 2. Convertir la columna 'posiciÃ³n' a numÃ©rico
df_original_vi['posiciÃ³n'] = pd.to_numeric(df_original_vi['posiciÃ³n'], errors='coerce')
df_corregidas_vi['posiciÃ³n'] = pd.to_numeric(df_corregidas_vi['posiciÃ³n'], errors='coerce')

# ğŸ”¹ 3. Concatenar y ordenar
df_final_vi = pd.concat([df_original_vi, df_corregidas_vi]).sort_values(by=['palabra', 'posiciÃ³n'])
df_final_vi = df_final_vi.drop_duplicates(subset=['palabra'], keep='first')

# ğŸ”¹ 4. Orden final
df_final_vi = df_final_vi.sort_values(by='posiciÃ³n', na_position='last')
df_final_vi['posiciÃ³n'] = df_final_vi['posiciÃ³n'].apply(lambda x: 'none' if pd.isna(x) else int(x))

# ğŸ”¹ 5. Merge limpio (evitamos duplicados)
if 'viet_posiciones' in df_cities.columns:
    df_cities = df_cities.drop(columns=['viet_posiciones'])

df_cities = df_cities.merge(
    df_final_vi.rename(columns={'palabra': 'city_in_Vietnamese', 'posiciÃ³n': 'viet_posiciones'}), 
    on='city_in_Vietnamese', 
    how='left'
)

# ğŸ”¹ 6. Verificar faltantes
missing_vi = df_cities[df_cities['viet_posiciones'].isin(['none', 0]) | df_cities['viet_posiciones'].isna()]

# ğŸ”¹ 7. Imprimir TODO el DataFrame completo para validar
print("\nâœ… DataFrame completo con 'viet_posiciones' agregado:\n")
print(df_cities.head(20))

print(f"\nâš ï¸ Ciudades en vietnamita sin posiciÃ³n asignada (total: {len(missing_vi)}):\n")
print(missing_vi[['city_in_Vietnamese', 'viet_posiciones']])

âœ… DataFrame completo con 'viet_posiciones' agregado:

    population          city      country      continent     city_in_Spanish  \
0     37115000         Tokyo        Japan           Asia               Tokio
1     33807400         Delhi        India           Asia               Delhi
2     29867900      Shanghai        China           Asia  Llevar a la fuerza
3     23935700         Dhaka   Bangladesh           Asia               Dacca
4     22806700     Sao Paulo       Brazil  South America           San Pablo
5     22623900         Cairo        Egypt         Africa            El Cairo
6     22505300   Mexico City       Mexico  North America    Ciudad de MÃ©xico
7     22189100       Beijing        China           Asia               PekÃ­n
8     21673100        Mumbai        India           Asia              Bombay
9     18967500         Osaka        Japan           Asia               Osaka
10    17773900     Chongqing        China           Asia           Chongqing
11    17648600       Karachi     Pakistan           Asia             Karachi
12    17032300      Kinshasa     DR Congo         Africa            Kinshasa
13    16536000         Lagos      Nigeria         Africa               Lagos
14    16047400      Istanbul       Turkey           Asia            Estanbul
15    15618300  Buenos Aires    Argentina  South America        Buenos Aires
16    15570800       Kolkata        India           Asia             Calcuta
17    14942000        Manila  Philippines           Asia              Manila
18    14590100     Guangzhou        China           Asia              CantÃ³n
19    14470900       Tianjin        China           Asia             Tianjin

   city_in_Chinese city_in_Arabic city_in_Indonesian city_in_Swahili  \
0               ä¸œäº¬          Ø·ÙˆÙƒÙŠÙˆ              Tokyo           Tokyo
1               å¾·é‡Œ           Ø¯Ù„Ù‡ÙŠ              Delhi           Delhi
2               ä¸Šæµ·         Ø´Ù†ØºÙ‡Ø§ÙŠ      Kota Shanghai        Shanghai
3               è¾¾å¡            Ø¯ÙƒØ§         Kota Dhaka           Dhaka
4              åœ£ä¿ç½—      Ø³Ø§Ùˆ Ø¨Ø§ÙˆÙ„Ùˆ          Sao Paulo       SÃ£o Paulo
5               å¼€ç½—        Ø§Ù„Ù‚Ø§Ù‡Ø±Ø©              Kairo           Cairo
6             å¢¨è¥¿å“¥åŸ   Ù…Ø¯ÙŠÙ†Ø© Ù…ÙƒØ³ÙŠÙƒÙˆ       Kota Meksiko     Mexico City
7               åŒ—äº¬           Ø¨ÙƒÙŠÙ†       Kota Beijing         Beijing
8               å­Ÿä¹°         Ù…ÙˆÙ…Ø¨Ø§ÙŠ             Mumbai          Mumbai
9               å¤§é˜ª         Ø£ÙˆØ³Ø§ÙƒØ§              Osaka           Osaka
10              é‡åº†     ØªØ´ÙˆÙ†ØºØªØ´ÙŠÙ†Øº     Kota Chongqing       Chongqing
11             å¡æ‹‰å¥‡         ÙƒØ±Ø§ØªØ´ÙŠ            Karachi         Karachi
12             é‡‘æ²™è¨        ÙƒÙŠÙ†Ø´Ø§Ø³Ø§      Kota Kinshasa        Kinshasa
13             æ‹‰å„æ–¯          Ù„Ø§ØºÙˆØ³         Kota Lagos           Lagos
14           ä¼Šæ–¯å¦å¸ƒå°”        Ø§Ø³Ø·Ù†Ø¨ÙˆÙ„           Istanbul        Istanbul
15         å¸ƒå®œè¯ºæ–¯è‰¾åˆ©æ–¯     Ø¨ÙˆÙŠÙ†Ø³ Ø¢ÙŠØ±Ø³       Buenos Aires    Buenos Aires
16            åŠ å°”å„ç­”        ÙƒÙˆÙ„ÙƒØ§ØªØ§            Kolkata         Kolkata
17             é©¬å°¼æ‹‰         Ù…Ø§Ù†ÙŠÙ„Ø§        Kota Manila          Manila
18              å¹¿å·       Ù‚ÙˆØ§Ù†ØºØªØ´Ùˆ     Kota Guangzhou       Guangzhou
19              å¤©æ´¥        ØªÙŠØ§Ù†Ø¬ÙŠÙ†       Kota Tianjin         Tianjin

     city_in_Tamil  ... en_posiciones sp_posiciones ch_posiciones  \
0         à®Ÿà¯‹à®•à¯à®•à®¿à®¯à¯‹  ...          5872          7624          4662
1           à®Ÿà¯†à®²à¯à®²à®¿  ...          4853         22845         11384
2         à®·à®¾à®™à¯à®•à®¾à®¯à¯  ...          9021         26129           344
3           à®Ÿà®¾à®•à¯à®•à®¾  ...         22451        217225         82180
4        à®šà®¾à®µà¯ à®ªà®¾à®²à¯‹  ...         24092          1136         27780
5           à®•à¯†à®¯à¯à®°à¯‹  ...         12249         14915         27651
6   à®®à¯†à®•à¯à®šà®¿à®•à¯‹ à®¨à®•à®°à®®à¯  ...          2258           810         36649
7         à®ªà¯†à®¯à¯à®œà®¿à®™à¯  ...          7223         11110           172
8           à®®à¯à®®à¯à®ªà¯ˆ  ...          6388         30581         35115
9            à®’à®šà®¾à®•à®¾  ...         20495         23167          4818
10        à®šà¯‹à®™à¯à®•à®¿à®™à¯  ...         45959         76342          1451
11         à®•à®°à®¾à®šà¯à®šà®¿  ...         21056         81600         65375
12        à®•à®¿à®©à¯à®·à®¾à®šà®¾  ...         67647         99986        163932
13          à®²à®¾à®•à¯‹à®¸à¯  ...         17041         10952         98664
14     à®‡à®¸à¯à®¤à®¾à®©à¯à®ªà¯à®²à¯  ...         12656        479219         26448
15  à®ªà®¿à®¯à¯‚à®©à®¸à¯ à®…à®¯à®°à¯à®¸à¯  ...         15101           854         48322
16       à®•à¯Šà®²à¯à®•à®¤à¯à®¤à®¾  ...         15268         32627         61341
17           à®®à®£à®¿à®²à®¾  ...         12339         22288         30532
18        à®•à¯à®µà®¾à®™à¯à®šà¯‹  ...         26711         14439          1114
19      à®¤à®¿à®¯à®¾à®©à¯à®œà®¿à®©à¯  ...         42219         71455          1374

   sw_posiciones ta_posiciones tr_posiciones fn_posiciones jp_posiciones  \
0           4852         21427          8728         23280           211
1           6482          2558         29739         48244         23766
2           9130         47973         31958         22204          5165
3          19070         22134        117593        247733         59505
4           5076         26236         27514         16688         24286
5           5852         31985         13538         72933         14539
6           2565         12063          9028         24562         48184
7           5001         21351         11795         38503          5261
8           8969          1545         74960         57816         43246
9          12672        151229         31918         38314           428
10         84346        177294        350718        153285         31453
11          9797         26069        106496        206055         79522
12          3885        163932        191384        165866        103983
13          3457        154897         67357         92270         79325
14          3851         41901            70         25288         23117
15          6101        271710         29893         34561         30170
16          8407          5449        130744        375263         73906
17         13420         28598         61945         76390         17933
18         23404        203616         60378        104035         19169
19         49341        318362        121022        138260         16721

   ko_posiciones viet_posiciones
0            681            4183
1           6829           20922
2            867            7914
3          71855           55995
4          18481           70471
5          15093           16759
6           1968            4650
7            879            4145
8          35831           20714
9           1216           13036
10         29664           32068
11        120255           41026
12        204840           64198
13         36704           47668
14          2979           14775
15         63096          259812
16         77960           34104
17         16123           10573
18         11820           11502
19         24155            7350

[20 rows x 28 columns]

âš ï¸ Ciudades en vietnamita sin posiciÃ³n asignada (total: 25):

    city_in_Vietnamese viet_posiciones
59             Haerbin            none
182           Incheong            none
257               LÃ´mÃª            none
307              Pháº£i.            none
313         aurangabad            none
331           Qiqihaer            none
375           amritsar            none
436              Ruian            none
483            Bazhong            none
487          Saharapur            none
499           Shimkent            none
513            Ikorodu            none
566            Guiping            none
571             Xintai            none
616              Xinyu            none
622               taiz            none
673             Kuerle            none
674         Soshanguve            none
682     Hufuf-Mubarraz            none
708           Orumiyeh            none
729        Sulaymaniya            none
735         Dasmarinas            none
748           amravati            none
756            Oshogbo            none
759     Erduosi-Ordoss            none

In [33]:
# ğŸ”¹ 1. Cargar los dos CSVs de posiciones en Ã¡rabe
df_original_ar = pd.read_csv('posiciones_ciudades_AR.csv')
df_corregidas_ar = pd.read_csv('posiciones_ciudades_corregidas_AR.csv')

# ğŸ”¹ 2. Convertir la columna 'posiciÃ³n' a numÃ©rico
df_original_ar['posiciÃ³n'] = pd.to_numeric(df_original_ar['posiciÃ³n'], errors='coerce')
df_corregidas_ar['posiciÃ³n'] = pd.to_numeric(df_corregidas_ar['posiciÃ³n'], errors='coerce')

# ğŸ”¹ 3. Concatenar y ordenar
df_final_ar = pd.concat([df_original_ar, df_corregidas_ar]).sort_values(by=['palabra', 'posiciÃ³n'])
df_final_ar = df_final_ar.drop_duplicates(subset=['palabra'], keep='first')

# ğŸ”¹ 4. Orden final
df_final_ar = df_final_ar.sort_values(by='posiciÃ³n', na_position='last')
df_final_ar['posiciÃ³n'] = df_final_ar['posiciÃ³n'].apply(lambda x: 'none' if pd.isna(x) else int(x))

# ğŸ”¹ 5. Merge limpio (evitamos duplicados)
if 'ar_posiciones' in df_cities.columns:
    df_cities = df_cities.drop(columns=['ar_posiciones'])

df_cities = df_cities.merge(
    df_final_ar.rename(columns={'palabra': 'city_in_Arabic', 'posiciÃ³n': 'ar_posiciones'}), 
    on='city_in_Arabic', 
    how='left'
)

# ğŸ”¹ 6. Verificar faltantes
missing_ar = df_cities[df_cities['ar_posiciones'].isin(['none', 0]) | df_cities['ar_posiciones'].isna()]

# ğŸ”¹ 7. Imprimir TODO el DataFrame completo para validar
print("\nâœ… DataFrame completo con 'ar_posiciones' agregado:\n")
print(df_cities.head(20))

print(f"\nâš ï¸ Ciudades en Ã¡rabe sin posiciÃ³n asignada (total: {len(missing_ar)}):\n")
print(missing_ar[['city_in_Arabic', 'ar_posiciones']])

âœ… DataFrame completo con 'ar_posiciones' agregado:

    population          city      country      continent     city_in_Spanish  \
0     37115000         Tokyo        Japan           Asia               Tokio
1     33807400         Delhi        India           Asia               Delhi
2     29867900      Shanghai        China           Asia  Llevar a la fuerza
3     23935700         Dhaka   Bangladesh           Asia               Dacca
4     22806700     Sao Paulo       Brazil  South America           San Pablo
5     22623900         Cairo        Egypt         Africa            El Cairo
6     22505300   Mexico City       Mexico  North America    Ciudad de MÃ©xico
7     22189100       Beijing        China           Asia               PekÃ­n
8     21673100        Mumbai        India           Asia              Bombay
9     18967500         Osaka        Japan           Asia               Osaka
10    17773900     Chongqing        China           Asia           Chongqing
11    17648600       Karachi     Pakistan           Asia             Karachi
12    17032300      Kinshasa     DR Congo         Africa            Kinshasa
13    16536000         Lagos      Nigeria         Africa               Lagos
14    16047400      Istanbul       Turkey           Asia            Estanbul
15    15618300  Buenos Aires    Argentina  South America        Buenos Aires
16    15570800       Kolkata        India           Asia             Calcuta
17    14942000        Manila  Philippines           Asia              Manila
18    14590100     Guangzhou        China           Asia              CantÃ³n
19    14470900       Tianjin        China           Asia             Tianjin

   city_in_Chinese city_in_Arabic city_in_Indonesian city_in_Swahili  \
0               ä¸œäº¬          Ø·ÙˆÙƒÙŠÙˆ              Tokyo           Tokyo
1               å¾·é‡Œ           Ø¯Ù„Ù‡ÙŠ              Delhi           Delhi
2               ä¸Šæµ·         Ø´Ù†ØºÙ‡Ø§ÙŠ      Kota Shanghai        Shanghai
3               è¾¾å¡            Ø¯ÙƒØ§         Kota Dhaka           Dhaka
4              åœ£ä¿ç½—      Ø³Ø§Ùˆ Ø¨Ø§ÙˆÙ„Ùˆ          Sao Paulo       SÃ£o Paulo
5               å¼€ç½—        Ø§Ù„Ù‚Ø§Ù‡Ø±Ø©              Kairo           Cairo
6             å¢¨è¥¿å“¥åŸ   Ù…Ø¯ÙŠÙ†Ø© Ù…ÙƒØ³ÙŠÙƒÙˆ       Kota Meksiko     Mexico City
7               åŒ—äº¬           Ø¨ÙƒÙŠÙ†       Kota Beijing         Beijing
8               å­Ÿä¹°         Ù…ÙˆÙ…Ø¨Ø§ÙŠ             Mumbai          Mumbai
9               å¤§é˜ª         Ø£ÙˆØ³Ø§ÙƒØ§              Osaka           Osaka
10              é‡åº†     ØªØ´ÙˆÙ†ØºØªØ´ÙŠÙ†Øº     Kota Chongqing       Chongqing
11             å¡æ‹‰å¥‡         ÙƒØ±Ø§ØªØ´ÙŠ            Karachi         Karachi
12             é‡‘æ²™è¨        ÙƒÙŠÙ†Ø´Ø§Ø³Ø§      Kota Kinshasa        Kinshasa
13             æ‹‰å„æ–¯          Ù„Ø§ØºÙˆØ³         Kota Lagos           Lagos
14           ä¼Šæ–¯å¦å¸ƒå°”        Ø§Ø³Ø·Ù†Ø¨ÙˆÙ„           Istanbul        Istanbul
15         å¸ƒå®œè¯ºæ–¯è‰¾åˆ©æ–¯     Ø¨ÙˆÙŠÙ†Ø³ Ø¢ÙŠØ±Ø³       Buenos Aires    Buenos Aires
16            åŠ å°”å„ç­”        ÙƒÙˆÙ„ÙƒØ§ØªØ§            Kolkata         Kolkata
17             é©¬å°¼æ‹‰         Ù…Ø§Ù†ÙŠÙ„Ø§        Kota Manila          Manila
18              å¹¿å·       Ù‚ÙˆØ§Ù†ØºØªØ´Ùˆ     Kota Guangzhou       Guangzhou
19              å¤©æ´¥        ØªÙŠØ§Ù†Ø¬ÙŠÙ†       Kota Tianjin         Tianjin

     city_in_Tamil  ... sp_posiciones ch_posiciones sw_posiciones  \
0         à®Ÿà¯‹à®•à¯à®•à®¿à®¯à¯‹  ...          7624          4662          4852
1           à®Ÿà¯†à®²à¯à®²à®¿  ...         22845         11384          6482
2         à®·à®¾à®™à¯à®•à®¾à®¯à¯  ...         26129           344          9130
3           à®Ÿà®¾à®•à¯à®•à®¾  ...        217225         82180         19070
4        à®šà®¾à®µà¯ à®ªà®¾à®²à¯‹  ...          1136         27780          5076
5           à®•à¯†à®¯à¯à®°à¯‹  ...         14915         27651          5852
6   à®®à¯†à®•à¯à®šà®¿à®•à¯‹ à®¨à®•à®°à®®à¯  ...           810         36649          2565
7         à®ªà¯†à®¯à¯à®œà®¿à®™à¯  ...         11110           172          5001
8           à®®à¯à®®à¯à®ªà¯ˆ  ...         30581         35115          8969
9            à®’à®šà®¾à®•à®¾  ...         23167          4818         12672
10        à®šà¯‹à®™à¯à®•à®¿à®™à¯  ...         76342          1451         84346
11         à®•à®°à®¾à®šà¯à®šà®¿  ...         81600         65375          9797
12        à®•à®¿à®©à¯à®·à®¾à®šà®¾  ...         99986        163932          3885
13          à®²à®¾à®•à¯‹à®¸à¯  ...         10952         98664          3457
14     à®‡à®¸à¯à®¤à®¾à®©à¯à®ªà¯à®²à¯  ...        479219         26448          3851
15  à®ªà®¿à®¯à¯‚à®©à®¸à¯ à®…à®¯à®°à¯à®¸à¯  ...           854         48322          6101
16       à®•à¯Šà®²à¯à®•à®¤à¯à®¤à®¾  ...         32627         61341          8407
17           à®®à®£à®¿à®²à®¾  ...         22288         30532         13420
18        à®•à¯à®µà®¾à®™à¯à®šà¯‹  ...         14439          1114         23404
19      à®¤à®¿à®¯à®¾à®©à¯à®œà®¿à®©à¯  ...         71455          1374         49341

   ta_posiciones tr_posiciones fn_posiciones jp_posiciones ko_posiciones  \
0          21427          8728         23280           211           681
1           2558         29739         48244         23766          6829
2          47973         31958         22204          5165           867
3          22134        117593        247733         59505         71855
4          26236         27514         16688         24286         18481
5          31985         13538         72933         14539         15093
6          12063          9028         24562         48184          1968
7          21351         11795         38503          5261           879
8           1545         74960         57816         43246         35831
9         151229         31918         38314           428          1216
10        177294        350718        153285         31453         29664
11         26069        106496        206055         79522        120255
12        163932        191384        165866        103983        204840
13        154897         67357         92270         79325         36704
14         41901            70         25288         23117          2979
15        271710         29893         34561         30170         63096
16          5449        130744        375263         73906         77960
17         28598         61945         76390         17933         16123
18        203616         60378        104035         19169         11820
19        318362        121022        138260         16721         24155

   viet_posiciones ar_posiciones
0             4183          7813
1            20922         30765
2             7914         26213
3            55995         64010
4            70471         17991
5            16759           614
6             4650         25034
7             4145         10633
8            20714         27677
9            13036         31191
10           32068        182359
11           41026         43458
12           64198         95616
13           47668         67383
14           14775          6879
15          259812         23145
16           34104        156095
17           10573         40173
18           11502        115388
19            7350         97822

[20 rows x 29 columns]

âš ï¸ Ciudades en Ã¡rabe sin posiciÃ³n asignada (total: 0):

Empty DataFrame
Columns: [city_in_Arabic, ar_posiciones]
Index: []

In [34]:
# ğŸ”¹ 1. Cargar los dos CSVs de posiciones en indonesio
df_original_id = pd.read_csv('posiciones_ciudades_ID.csv')
df_corregidas_id = pd.read_csv('posiciones_ciudades_corregidas_ID.csv')

# ğŸ”¹ 2. Convertir la columna 'posiciÃ³n' a numÃ©rico
df_original_id['posiciÃ³n'] = pd.to_numeric(df_original_id['posiciÃ³n'], errors='coerce')
df_corregidas_id['posiciÃ³n'] = pd.to_numeric(df_corregidas_id['posiciÃ³n'], errors='coerce')

# ğŸ”¹ 3. Concatenar y ordenar
df_final_id = pd.concat([df_original_id, df_corregidas_id]).sort_values(by=['palabra', 'posiciÃ³n'])
df_final_id = df_final_id.drop_duplicates(subset=['palabra'], keep='first')

# ğŸ”¹ 4. Orden final
df_final_id = df_final_id.sort_values(by='posiciÃ³n', na_position='last')
df_final_id['posiciÃ³n'] = df_final_id['posiciÃ³n'].apply(lambda x: 'none' if pd.isna(x) else int(x))

# ğŸ”¹ 5. Definir la funciÃ³n de limpieza para las ciudades en indonesio
def remover_kota_y_bahasa(nombre_ciudad):
    if isinstance(nombre_ciudad, str):
        if nombre_ciudad.lower().startswith("kota "):
            nombre_ciudad = nombre_ciudad[5:]
        palabras_a_eliminar = ["Bahasa Indonesia:", "Bahasa", "Bahasa Indonesia", "Provinsi"]
        for palabra in palabras_a_eliminar:
            if nombre_ciudad.startswith(palabra):
                nombre_ciudad = nombre_ciudad[len(palabra):].strip()
    return nombre_ciudad.strip()

# ğŸ”¹ 6. Crear la columna auxiliar en df_cities
df_cities['city_in_Indonesian_clean'] = df_cities['city_in_Indonesian'].apply(remover_kota_y_bahasa)

# ğŸ”¹ 7. Merge usando la columna "clean"
if 'id_posiciones' in df_cities.columns:
    df_cities = df_cities.drop(columns=['id_posiciones'])

df_cities = df_cities.merge(
    df_final_id.rename(columns={'palabra': 'city_in_Indonesian_clean', 'posiciÃ³n': 'id_posiciones'}),
    on='city_in_Indonesian_clean', 
    how='left'
)

# ğŸ”¹ 8. Verificar faltantes
missing_id = df_cities[df_cities['id_posiciones'].isin(['none', 0]) | df_cities['id_posiciones'].isna()]

# ğŸ”¹ 9. Imprimir TODO el DataFrame completo para validar
print("\nâœ… DataFrame completo con 'id_posiciones' agregado:\n")
print(df_cities.head(20))

print(f"\nâš ï¸ Ciudades en indonesio sin posiciÃ³n asignada (total: {len(missing_id)}):\n")
print(missing_id[['city_in_Indonesian', 'city_in_Indonesian_clean', 'id_posiciones']])

âœ… DataFrame completo con 'id_posiciones' agregado:

    population          city      country      continent     city_in_Spanish  \
0     37115000         Tokyo        Japan           Asia               Tokio
1     33807400         Delhi        India           Asia               Delhi
2     29867900      Shanghai        China           Asia  Llevar a la fuerza
3     23935700         Dhaka   Bangladesh           Asia               Dacca
4     22806700     Sao Paulo       Brazil  South America           San Pablo
5     22623900         Cairo        Egypt         Africa            El Cairo
6     22505300   Mexico City       Mexico  North America    Ciudad de MÃ©xico
7     22189100       Beijing        China           Asia               PekÃ­n
8     21673100        Mumbai        India           Asia              Bombay
9     18967500         Osaka        Japan           Asia               Osaka
10    17773900     Chongqing        China           Asia           Chongqing
11    17648600       Karachi     Pakistan           Asia             Karachi
12    17032300      Kinshasa     DR Congo         Africa            Kinshasa
13    16536000         Lagos      Nigeria         Africa               Lagos
14    16047400      Istanbul       Turkey           Asia            Estanbul
15    15618300  Buenos Aires    Argentina  South America        Buenos Aires
16    15570800       Kolkata        India           Asia             Calcuta
17    14942000        Manila  Philippines           Asia              Manila
18    14590100     Guangzhou        China           Asia              CantÃ³n
19    14470900       Tianjin        China           Asia             Tianjin

   city_in_Chinese city_in_Arabic city_in_Indonesian city_in_Swahili  \
0               ä¸œäº¬          Ø·ÙˆÙƒÙŠÙˆ              Tokyo           Tokyo
1               å¾·é‡Œ           Ø¯Ù„Ù‡ÙŠ              Delhi           Delhi
2               ä¸Šæµ·         Ø´Ù†ØºÙ‡Ø§ÙŠ      Kota Shanghai        Shanghai
3               è¾¾å¡            Ø¯ÙƒØ§         Kota Dhaka           Dhaka
4              åœ£ä¿ç½—      Ø³Ø§Ùˆ Ø¨Ø§ÙˆÙ„Ùˆ          Sao Paulo       SÃ£o Paulo
5               å¼€ç½—        Ø§Ù„Ù‚Ø§Ù‡Ø±Ø©              Kairo           Cairo
6             å¢¨è¥¿å“¥åŸ   Ù…Ø¯ÙŠÙ†Ø© Ù…ÙƒØ³ÙŠÙƒÙˆ       Kota Meksiko     Mexico City
7               åŒ—äº¬           Ø¨ÙƒÙŠÙ†       Kota Beijing         Beijing
8               å­Ÿä¹°         Ù…ÙˆÙ…Ø¨Ø§ÙŠ             Mumbai          Mumbai
9               å¤§é˜ª         Ø£ÙˆØ³Ø§ÙƒØ§              Osaka           Osaka
10              é‡åº†     ØªØ´ÙˆÙ†ØºØªØ´ÙŠÙ†Øº     Kota Chongqing       Chongqing
11             å¡æ‹‰å¥‡         ÙƒØ±Ø§ØªØ´ÙŠ            Karachi         Karachi
12             é‡‘æ²™è¨        ÙƒÙŠÙ†Ø´Ø§Ø³Ø§      Kota Kinshasa        Kinshasa
13             æ‹‰å„æ–¯          Ù„Ø§ØºÙˆØ³         Kota Lagos           Lagos
14           ä¼Šæ–¯å¦å¸ƒå°”        Ø§Ø³Ø·Ù†Ø¨ÙˆÙ„           Istanbul        Istanbul
15         å¸ƒå®œè¯ºæ–¯è‰¾åˆ©æ–¯     Ø¨ÙˆÙŠÙ†Ø³ Ø¢ÙŠØ±Ø³       Buenos Aires    Buenos Aires
16            åŠ å°”å„ç­”        ÙƒÙˆÙ„ÙƒØ§ØªØ§            Kolkata         Kolkata
17             é©¬å°¼æ‹‰         Ù…Ø§Ù†ÙŠÙ„Ø§        Kota Manila          Manila
18              å¹¿å·       Ù‚ÙˆØ§Ù†ØºØªØ´Ùˆ     Kota Guangzhou       Guangzhou
19              å¤©æ´¥        ØªÙŠØ§Ù†Ø¬ÙŠÙ†       Kota Tianjin         Tianjin

     city_in_Tamil  ... sw_posiciones ta_posiciones tr_posiciones  \
0         à®Ÿà¯‹à®•à¯à®•à®¿à®¯à¯‹  ...          4852         21427          8728
1           à®Ÿà¯†à®²à¯à®²à®¿  ...          6482          2558         29739
2         à®·à®¾à®™à¯à®•à®¾à®¯à¯  ...          9130         47973         31958
3           à®Ÿà®¾à®•à¯à®•à®¾  ...         19070         22134        117593
4        à®šà®¾à®µà¯ à®ªà®¾à®²à¯‹  ...          5076         26236         27514
5           à®•à¯†à®¯à¯à®°à¯‹  ...          5852         31985         13538
6   à®®à¯†à®•à¯à®šà®¿à®•à¯‹ à®¨à®•à®°à®®à¯  ...          2565         12063          9028
7         à®ªà¯†à®¯à¯à®œà®¿à®™à¯  ...          5001         21351         11795
8           à®®à¯à®®à¯à®ªà¯ˆ  ...          8969          1545         74960
9            à®’à®šà®¾à®•à®¾  ...         12672        151229         31918
10        à®šà¯‹à®™à¯à®•à®¿à®™à¯  ...         84346        177294        350718
11         à®•à®°à®¾à®šà¯à®šà®¿  ...          9797         26069        106496
12        à®•à®¿à®©à¯à®·à®¾à®šà®¾  ...          3885        163932        191384
13          à®²à®¾à®•à¯‹à®¸à¯  ...          3457        154897         67357
14     à®‡à®¸à¯à®¤à®¾à®©à¯à®ªà¯à®²à¯  ...          3851         41901            70
15  à®ªà®¿à®¯à¯‚à®©à®¸à¯ à®…à®¯à®°à¯à®¸à¯  ...          6101        271710         29893
16       à®•à¯Šà®²à¯à®•à®¤à¯à®¤à®¾  ...          8407          5449        130744
17           à®®à®£à®¿à®²à®¾  ...         13420         28598         61945
18        à®•à¯à®µà®¾à®™à¯à®šà¯‹  ...         23404        203616         60378
19      à®¤à®¿à®¯à®¾à®©à¯à®œà®¿à®©à¯  ...         49341        318362        121022

   fn_posiciones jp_posiciones ko_posiciones viet_posiciones ar_posiciones  \
0          23280           211           681            4183          7813
1          48244         23766          6829           20922         30765
2          22204          5165           867            7914         26213
3         247733         59505         71855           55995         64010
4          16688         24286         18481           70471         17991
5          72933         14539         15093           16759           614
6          24562         48184          1968            4650         25034
7          38503          5261           879            4145         10633
8          57816         43246         35831           20714         27677
9          38314           428          1216           13036         31191
10        153285         31453         29664           32068        182359
11        206055         79522        120255           41026         43458
12        165866        103983        204840           64198         95616
13         92270         79325         36704           47668         67383
14         25288         23117          2979           14775          6879
15         34561         30170         63096          259812         23145
16        375263         73906         77960           34104        156095
17         76390         17933         16123           10573         40173
18        104035         19169         11820           11502        115388
19        138260         16721         24155            7350         97822

   city_in_Indonesian_clean id_posiciones
0                     Tokyo          2298
1                     Delhi          9167
2                  Shanghai          7038
3                     Dhaka         26585
4                 Sao Paulo         20592
5                     Kairo         10425
6                   Meksiko          3434
7                   Beijing          5541
8                    Mumbai         12558
9                     Osaka          6524
10                Chongqing         30963
11                  Karachi         28691
12                 Kinshasa         44421
13                    Lagos         37536
14                 Istanbul          8014
15             Buenos Aires         16036
16                  Kolkata         25044
17                   Manila         10009
18                Guangzhou         17043
19                  Tianjin         29673

[20 rows x 31 columns]

âš ï¸ Ciudades en indonesio sin posiciÃ³n asignada (total: 18):

    city_in_Indonesian city_in_Indonesian_clean id_posiciones
41               Xi'an                    Xi'an          none
59             Haerbin                  Haerbin          none
164            Huai'an                  Huai'an          none
331           Qiqihaer                 Qiqihaer          none
470             Pizhou                   Pizhou          none
517          Ma'anshan                Ma'anshan          none
588            Leiyang                  Leiyang          none
659       Kota Asgabat                  Asgabat          none
673             Kuerle                   Kuerle          none
678           Chertala                 Chertala          none
682     Hufuf Mubarraz           Hufuf Mubarraz          none
732              Anqiu                    Anqiu          none
743         Kayamkulam               Kayamkulam          none
756            Oshogbo                  Oshogbo          none
759      Erdosi-Ordoss            Erdosi-Ordoss          none
763             Yan'an                   Yan'an          none
777               Apa?                     Apa?          none
799            Dongtai                  Dongtai          none

In [35]:
# ğŸ”¹ 1. Cargar los dos CSVs de posiciones en portuguÃ©s
df_original_pt = pd.read_csv('posiciones_ciudades_PT.csv')
df_corregidas_pt = pd.read_csv('posiciones_ciudades_corregidas_PT.csv')

# ğŸ”¹ 2. Asegurarse de que las columnas estÃ©n en el orden correcto
if df_original_pt.columns[0] == 'palabra':
    df_original_pt = df_original_pt[['posiciÃ³n', 'palabra']]

# ğŸ”¹ 3. Convertir 'posiciÃ³n' a numÃ©rico
df_original_pt['posiciÃ³n'] = pd.to_numeric(df_original_pt['posiciÃ³n'], errors='coerce')
df_corregidas_pt['posiciÃ³n'] = pd.to_numeric(df_corregidas_pt['posiciÃ³n'], errors='coerce')

# ğŸ”¹ 4. Combinar, ordenar y quitar duplicados priorizando posiciones vÃ¡lidas
df_combinado_pt = pd.concat([df_original_pt, df_corregidas_pt]).sort_values(by=['palabra', 'posiciÃ³n'])
df_final_pt = df_combinado_pt.drop_duplicates(subset='palabra', keep='first')
df_final_pt = df_final_pt.sort_values(by='posiciÃ³n', na_position='last')
df_final_pt['posiciÃ³n'] = df_final_pt['posiciÃ³n'].apply(lambda x: 'none' if pd.isna(x) else int(x))

# ğŸ”¹ 5. Merge limpio con df_cities
if 'pt_posiciones' in df_cities.columns:
    df_cities = df_cities.drop(columns=['pt_posiciones'])

df_cities = df_cities.merge(
    df_final_pt.rename(columns={'palabra': 'city_in_Portuguese', 'posiciÃ³n': 'pt_posiciones'}), 
    on='city_in_Portuguese', 
    how='left'
)

# ğŸ”¹ 6. Verificar faltantes
missing_pt = df_cities[df_cities['pt_posiciones'].isin(['none', 0]) | df_cities['pt_posiciones'].isna()]

# ğŸ”¹ 7. Imprimir resultado completo
print("\nâœ… DataFrame completo con 'pt_posiciones' agregado:\n")
print(df_cities.head(20))

print(f"\nâš ï¸ Ciudades en portuguÃ©s sin posiciÃ³n asignada (total: {len(missing_pt)}):\n")
print(missing_pt[['city_in_Portuguese', 'pt_posiciones']])

âœ… DataFrame completo con 'pt_posiciones' agregado:

    population          city      country      continent     city_in_Spanish  \
0     37115000         Tokyo        Japan           Asia               Tokio
1     33807400         Delhi        India           Asia               Delhi
2     29867900      Shanghai        China           Asia  Llevar a la fuerza
3     23935700         Dhaka   Bangladesh           Asia               Dacca
4     22806700     Sao Paulo       Brazil  South America           San Pablo
5     22623900         Cairo        Egypt         Africa            El Cairo
6     22505300   Mexico City       Mexico  North America    Ciudad de MÃ©xico
7     22189100       Beijing        China           Asia               PekÃ­n
8     21673100        Mumbai        India           Asia              Bombay
9     18967500         Osaka        Japan           Asia               Osaka
10    17773900     Chongqing        China           Asia           Chongqing
11    17648600       Karachi     Pakistan           Asia             Karachi
12    17032300      Kinshasa     DR Congo         Africa            Kinshasa
13    16536000         Lagos      Nigeria         Africa               Lagos
14    16047400      Istanbul       Turkey           Asia            Estanbul
15    15618300  Buenos Aires    Argentina  South America        Buenos Aires
16    15570800       Kolkata        India           Asia             Calcuta
17    14942000        Manila  Philippines           Asia              Manila
18    14590100     Guangzhou        China           Asia              CantÃ³n
19    14470900       Tianjin        China           Asia             Tianjin

   city_in_Chinese city_in_Arabic city_in_Indonesian city_in_Swahili  \
0               ä¸œäº¬          Ø·ÙˆÙƒÙŠÙˆ              Tokyo           Tokyo
1               å¾·é‡Œ           Ø¯Ù„Ù‡ÙŠ              Delhi           Delhi
2               ä¸Šæµ·         Ø´Ù†ØºÙ‡Ø§ÙŠ      Kota Shanghai        Shanghai
3               è¾¾å¡            Ø¯ÙƒØ§         Kota Dhaka           Dhaka
4              åœ£ä¿ç½—      Ø³Ø§Ùˆ Ø¨Ø§ÙˆÙ„Ùˆ          Sao Paulo       SÃ£o Paulo
5               å¼€ç½—        Ø§Ù„Ù‚Ø§Ù‡Ø±Ø©              Kairo           Cairo
6             å¢¨è¥¿å“¥åŸ   Ù…Ø¯ÙŠÙ†Ø© Ù…ÙƒØ³ÙŠÙƒÙˆ       Kota Meksiko     Mexico City
7               åŒ—äº¬           Ø¨ÙƒÙŠÙ†       Kota Beijing         Beijing
8               å­Ÿä¹°         Ù…ÙˆÙ…Ø¨Ø§ÙŠ             Mumbai          Mumbai
9               å¤§é˜ª         Ø£ÙˆØ³Ø§ÙƒØ§              Osaka           Osaka
10              é‡åº†     ØªØ´ÙˆÙ†ØºØªØ´ÙŠÙ†Øº     Kota Chongqing       Chongqing
11             å¡æ‹‰å¥‡         ÙƒØ±Ø§ØªØ´ÙŠ            Karachi         Karachi
12             é‡‘æ²™è¨        ÙƒÙŠÙ†Ø´Ø§Ø³Ø§      Kota Kinshasa        Kinshasa
13             æ‹‰å„æ–¯          Ù„Ø§ØºÙˆØ³         Kota Lagos           Lagos
14           ä¼Šæ–¯å¦å¸ƒå°”        Ø§Ø³Ø·Ù†Ø¨ÙˆÙ„           Istanbul        Istanbul
15         å¸ƒå®œè¯ºæ–¯è‰¾åˆ©æ–¯     Ø¨ÙˆÙŠÙ†Ø³ Ø¢ÙŠØ±Ø³       Buenos Aires    Buenos Aires
16            åŠ å°”å„ç­”        ÙƒÙˆÙ„ÙƒØ§ØªØ§            Kolkata         Kolkata
17             é©¬å°¼æ‹‰         Ù…Ø§Ù†ÙŠÙ„Ø§        Kota Manila          Manila
18              å¹¿å·       Ù‚ÙˆØ§Ù†ØºØªØ´Ùˆ     Kota Guangzhou       Guangzhou
19              å¤©æ´¥        ØªÙŠØ§Ù†Ø¬ÙŠÙ†       Kota Tianjin         Tianjin

     city_in_Tamil  ... ta_posiciones tr_posiciones fn_posiciones  \
0         à®Ÿà¯‹à®•à¯à®•à®¿à®¯à¯‹  ...         21427          8728         23280
1           à®Ÿà¯†à®²à¯à®²à®¿  ...          2558         29739         48244
2         à®·à®¾à®™à¯à®•à®¾à®¯à¯  ...         47973         31958         22204
3           à®Ÿà®¾à®•à¯à®•à®¾  ...         22134        117593        247733
4        à®šà®¾à®µà¯ à®ªà®¾à®²à¯‹  ...         26236         27514         16688
5           à®•à¯†à®¯à¯à®°à¯‹  ...         31985         13538         72933
6   à®®à¯†à®•à¯à®šà®¿à®•à¯‹ à®¨à®•à®°à®®à¯  ...         12063          9028         24562
7         à®ªà¯†à®¯à¯à®œà®¿à®™à¯  ...         21351         11795         38503
8           à®®à¯à®®à¯à®ªà¯ˆ  ...          1545         74960         57816
9            à®’à®šà®¾à®•à®¾  ...        151229         31918         38314
10        à®šà¯‹à®™à¯à®•à®¿à®™à¯  ...        177294        350718        153285
11         à®•à®°à®¾à®šà¯à®šà®¿  ...         26069        106496        206055
12        à®•à®¿à®©à¯à®·à®¾à®šà®¾  ...        163932        191384        165866
13          à®²à®¾à®•à¯‹à®¸à¯  ...        154897         67357         92270
14     à®‡à®¸à¯à®¤à®¾à®©à¯à®ªà¯à®²à¯  ...         41901            70         25288
15  à®ªà®¿à®¯à¯‚à®©à®¸à¯ à®…à®¯à®°à¯à®¸à¯  ...        271710         29893         34561
16       à®•à¯Šà®²à¯à®•à®¤à¯à®¤à®¾  ...          5449        130744        375263
17           à®®à®£à®¿à®²à®¾  ...         28598         61945         76390
18        à®•à¯à®µà®¾à®™à¯à®šà¯‹  ...        203616         60378        104035
19      à®¤à®¿à®¯à®¾à®©à¯à®œà®¿à®©à¯  ...        318362        121022        138260

   jp_posiciones ko_posiciones viet_posiciones ar_posiciones  \
0            211           681            4183          7813
1          23766          6829           20922         30765
2           5165           867            7914         26213
3          59505         71855           55995         64010
4          24286         18481           70471         17991
5          14539         15093           16759           614
6          48184          1968            4650         25034
7           5261           879            4145         10633
8          43246         35831           20714         27677
9            428          1216           13036         31191
10         31453         29664           32068        182359
11         79522        120255           41026         43458
12        103983        204840           64198         95616
13         79325         36704           47668         67383
14         23117          2979           14775          6879
15         30170         63096          259812         23145
16         73906         77960           34104        156095
17         17933         16123           10573         40173
18         19169         11820           11502        115388
19         16721         24155            7350         97822

   city_in_Indonesian_clean id_posiciones pt_posiciones
0                     Tokyo          2298          9711
1                     Delhi          9167         86849
2                  Shanghai          7038         23932
3                     Dhaka         26585        151446
4                 Sao Paulo         20592          5981
5                     Kairo         10425         18020
6                   Meksiko          3434          2379
7                   Beijing          5541         10715
8                    Mumbai         12558         45324
9                     Osaka          6524         25871
10                Chongqing         30963         95122
11                  Karachi         28691        181724
12                 Kinshasa         44421         86735
13                    Lagos         37536         12289
14                 Istanbul          8014         17389
15             Buenos Aires         16036          5505
16                  Kolkata         25044         39740
17                   Manila         10009         38657
18                Guangzhou         17043         45523
19                  Tianjin         29673         61318

[20 rows x 32 columns]

âš ï¸ Ciudades en portuguÃ©s sin posiciÃ³n asignada (total: 73):

    city_in_Portuguese pt_posiciones
59             Haerbin          none
88              Jiddah          none
96              Shatou          none
111            Ekureni          none
112         Malappuram          none
..                 ...           ...
769           Dengzhou          none
771           Malegaon          none
779           Maturina          none
783              Sigot          none
788             Dazhou          none

[73 rows x 2 columns]

In [36]:
# ğŸ”¹ 1. Cargar los dos CSVs de posiciones en francÃ©s
df_original_fr = pd.read_csv('posiciones_ciudades_FR.csv')
df_corregidas_fr = pd.read_csv('posiciones_ciudades_corregidas_FR.csv')

# ğŸ”¹ 2. Asegurar orden correcto de columnas
if df_original_fr.columns[0] == 'palabra':
    df_original_fr = df_original_fr[['posiciÃ³n', 'palabra']]

# ğŸ”¹ 3. Convertir 'posiciÃ³n' a numÃ©rico
df_original_fr['posiciÃ³n'] = pd.to_numeric(df_original_fr['posiciÃ³n'], errors='coerce')
df_corregidas_fr['posiciÃ³n'] = pd.to_numeric(df_corregidas_fr['posiciÃ³n'], errors='coerce')

# ğŸ”¹ 4. Combinar, ordenar y quitar duplicados priorizando posiciones vÃ¡lidas
df_combinado_fr = pd.concat([df_original_fr, df_corregidas_fr])
df_combinado_fr = df_combinado_fr.sort_values(by=['palabra', 'posiciÃ³n'], na_position='last')
df_final_fr = df_combinado_fr.drop_duplicates(subset='palabra', keep='first')

# ğŸ”¹ 5. Ordenar por posiciÃ³n y reemplazar NaN por 'none'
df_final_fr = df_final_fr.sort_values(by='posiciÃ³n', na_position='last')
df_final_fr['posiciÃ³n'] = df_final_fr['posiciÃ³n'].apply(lambda x: 'none' if pd.isna(x) else int(x))

# ğŸ”¹ 6. Merge limpio (evitamos duplicados)
if 'fr_posiciones' in df_cities.columns:
    df_cities = df_cities.drop(columns=['fr_posiciones'])

df_cities = df_cities.merge(
    df_final_fr.rename(columns={'palabra': 'city_in_French', 'posiciÃ³n': 'fr_posiciones'}), 
    on='city_in_French', 
    how='left'
)

# ğŸ”¹ 7. Verificar faltantes
missing_fr = df_cities[df_cities['fr_posiciones'].isin(['none', 0]) | df_cities['fr_posiciones'].isna()]

# ğŸ”¹ 8. Imprimir resultado
print("\nâœ… DataFrame completo con 'fr_posiciones' agregado:\n")
print(df_cities.head(20))

print(f"\nâš ï¸ Ciudades en francÃ©s sin posiciÃ³n asignada (total: {len(missing_fr)}):\n")
print(missing_fr[['city_in_French', 'fr_posiciones']])

âœ… DataFrame completo con 'fr_posiciones' agregado:

    population          city      country      continent     city_in_Spanish  \
0     37115000         Tokyo        Japan           Asia               Tokio
1     33807400         Delhi        India           Asia               Delhi
2     29867900      Shanghai        China           Asia  Llevar a la fuerza
3     23935700         Dhaka   Bangladesh           Asia               Dacca
4     22806700     Sao Paulo       Brazil  South America           San Pablo
5     22623900         Cairo        Egypt         Africa            El Cairo
6     22505300   Mexico City       Mexico  North America    Ciudad de MÃ©xico
7     22189100       Beijing        China           Asia               PekÃ­n
8     21673100        Mumbai        India           Asia              Bombay
9     18967500         Osaka        Japan           Asia               Osaka
10    17773900     Chongqing        China           Asia           Chongqing
11    17648600       Karachi     Pakistan           Asia             Karachi
12    17032300      Kinshasa     DR Congo         Africa            Kinshasa
13    16536000         Lagos      Nigeria         Africa               Lagos
14    16047400      Istanbul       Turkey           Asia            Estanbul
15    15618300  Buenos Aires    Argentina  South America        Buenos Aires
16    15570800       Kolkata        India           Asia             Calcuta
17    14942000        Manila  Philippines           Asia              Manila
18    14590100     Guangzhou        China           Asia              CantÃ³n
19    14470900       Tianjin        China           Asia             Tianjin

   city_in_Chinese city_in_Arabic city_in_Indonesian city_in_Swahili  \
0               ä¸œäº¬          Ø·ÙˆÙƒÙŠÙˆ              Tokyo           Tokyo
1               å¾·é‡Œ           Ø¯Ù„Ù‡ÙŠ              Delhi           Delhi
2               ä¸Šæµ·         Ø´Ù†ØºÙ‡Ø§ÙŠ      Kota Shanghai        Shanghai
3               è¾¾å¡            Ø¯ÙƒØ§         Kota Dhaka           Dhaka
4              åœ£ä¿ç½—      Ø³Ø§Ùˆ Ø¨Ø§ÙˆÙ„Ùˆ          Sao Paulo       SÃ£o Paulo
5               å¼€ç½—        Ø§Ù„Ù‚Ø§Ù‡Ø±Ø©              Kairo           Cairo
6             å¢¨è¥¿å“¥åŸ   Ù…Ø¯ÙŠÙ†Ø© Ù…ÙƒØ³ÙŠÙƒÙˆ       Kota Meksiko     Mexico City
7               åŒ—äº¬           Ø¨ÙƒÙŠÙ†       Kota Beijing         Beijing
8               å­Ÿä¹°         Ù…ÙˆÙ…Ø¨Ø§ÙŠ             Mumbai          Mumbai
9               å¤§é˜ª         Ø£ÙˆØ³Ø§ÙƒØ§              Osaka           Osaka
10              é‡åº†     ØªØ´ÙˆÙ†ØºØªØ´ÙŠÙ†Øº     Kota Chongqing       Chongqing
11             å¡æ‹‰å¥‡         ÙƒØ±Ø§ØªØ´ÙŠ            Karachi         Karachi
12             é‡‘æ²™è¨        ÙƒÙŠÙ†Ø´Ø§Ø³Ø§      Kota Kinshasa        Kinshasa
13             æ‹‰å„æ–¯          Ù„Ø§ØºÙˆØ³         Kota Lagos           Lagos
14           ä¼Šæ–¯å¦å¸ƒå°”        Ø§Ø³Ø·Ù†Ø¨ÙˆÙ„           Istanbul        Istanbul
15         å¸ƒå®œè¯ºæ–¯è‰¾åˆ©æ–¯     Ø¨ÙˆÙŠÙ†Ø³ Ø¢ÙŠØ±Ø³       Buenos Aires    Buenos Aires
16            åŠ å°”å„ç­”        ÙƒÙˆÙ„ÙƒØ§ØªØ§            Kolkata         Kolkata
17             é©¬å°¼æ‹‰         Ù…Ø§Ù†ÙŠÙ„Ø§        Kota Manila          Manila
18              å¹¿å·       Ù‚ÙˆØ§Ù†ØºØªØ´Ùˆ     Kota Guangzhou       Guangzhou
19              å¤©æ´¥        ØªÙŠØ§Ù†Ø¬ÙŠÙ†       Kota Tianjin         Tianjin

     city_in_Tamil  ... tr_posiciones fn_posiciones jp_posiciones  \
0         à®Ÿà¯‹à®•à¯à®•à®¿à®¯à¯‹  ...          8728         23280           211
1           à®Ÿà¯†à®²à¯à®²à®¿  ...         29739         48244         23766
2         à®·à®¾à®™à¯à®•à®¾à®¯à¯  ...         31958         22204          5165
3           à®Ÿà®¾à®•à¯à®•à®¾  ...        117593        247733         59505
4        à®šà®¾à®µà¯ à®ªà®¾à®²à¯‹  ...         27514         16688         24286
5           à®•à¯†à®¯à¯à®°à¯‹  ...         13538         72933         14539
6   à®®à¯†à®•à¯à®šà®¿à®•à¯‹ à®¨à®•à®°à®®à¯  ...          9028         24562         48184
7         à®ªà¯†à®¯à¯à®œà®¿à®™à¯  ...         11795         38503          5261
8           à®®à¯à®®à¯à®ªà¯ˆ  ...         74960         57816         43246
9            à®’à®šà®¾à®•à®¾  ...         31918         38314           428
10        à®šà¯‹à®™à¯à®•à®¿à®™à¯  ...        350718        153285         31453
11         à®•à®°à®¾à®šà¯à®šà®¿  ...        106496        206055         79522
12        à®•à®¿à®©à¯à®·à®¾à®šà®¾  ...        191384        165866        103983
13          à®²à®¾à®•à¯‹à®¸à¯  ...         67357         92270         79325
14     à®‡à®¸à¯à®¤à®¾à®©à¯à®ªà¯à®²à¯  ...            70         25288         23117
15  à®ªà®¿à®¯à¯‚à®©à®¸à¯ à®…à®¯à®°à¯à®¸à¯  ...         29893         34561         30170
16       à®•à¯Šà®²à¯à®•à®¤à¯à®¤à®¾  ...        130744        375263         73906
17           à®®à®£à®¿à®²à®¾  ...         61945         76390         17933
18        à®•à¯à®µà®¾à®™à¯à®šà¯‹  ...         60378        104035         19169
19      à®¤à®¿à®¯à®¾à®©à¯à®œà®¿à®©à¯  ...        121022        138260         16721

   ko_posiciones viet_posiciones ar_posiciones city_in_Indonesian_clean  \
0            681            4183          7813                    Tokyo
1           6829           20922         30765                    Delhi
2            867            7914         26213                 Shanghai
3          71855           55995         64010                    Dhaka
4          18481           70471         17991                Sao Paulo
5          15093           16759           614                    Kairo
6           1968            4650         25034                  Meksiko
7            879            4145         10633                  Beijing
8          35831           20714         27677                   Mumbai
9           1216           13036         31191                    Osaka
10         29664           32068        182359                Chongqing
11        120255           41026         43458                  Karachi
12        204840           64198         95616                 Kinshasa
13         36704           47668         67383                    Lagos
14          2979           14775          6879                 Istanbul
15         63096          259812         23145             Buenos Aires
16         77960           34104        156095                  Kolkata
17         16123           10573         40173                   Manila
18         11820           11502        115388                Guangzhou
19         24155            7350         97822                  Tianjin

   id_posiciones pt_posiciones fr_posiciones
0           2298          9711          4489
1           9167         86849         18535
2           7038         23932          9126
3          26585        151446        121629
4          20592          5981          9062
5          10425         18020          9815
6           3434          2379          3681
7           5541         10715          7359
8          12558         45324         45675
9           6524         25871         17932
10         30963         95122         58864
11         28691        181724         47582
12         44421         86735         17479
13         37536         12289         31970
14          8014         17389          9726
15         16036          5505          9469
16         25044         39740        109040
17         10009         38657         31197
18         17043         45523         45766
19         29673         61318         45397

[20 rows x 33 columns]

âš ï¸ Ciudades en francÃ©s sin posiciÃ³n asignada (total: 66):

      city_in_French fr_posiciones
59           Haerbin          none
88            Jiddah          none
96            Shatou          none
100      Shijazhuang          none
111          Ekureni          none
..               ...           ...
779         Maturine          none
784         Torchage          none
785       CrÃ©pracine          none
789  SUINGER SICHUAN          none
798           Bacoor          none

[66 rows x 2 columns]

In [38]:

# ğŸ”¹ 2. Guardar el DataFrame consolidado
df_cities.to_csv('ciudades_con_posiciones_final.csv', index=False)
print("ğŸ“‚ Archivo 'ciudades_con_posiciones_final.csv' guardado correctamente.")

ğŸ“‚ Archivo 'ciudades_con_posiciones_final.csv' guardado correctamente.

In [39]:
# ğŸ”¹ 3. Leer el CSV guardado para verificar las columnas
df_verificacion = pd.read_csv('ciudades_con_posiciones_final.csv')

# ğŸ”¹ 4. Imprimir columnas disponibles
print("\nğŸ—‚ï¸ Columnas del archivo guardado:\n")
print(df_verificacion.columns.tolist())

ğŸ—‚ï¸ Columnas del archivo guardado:

['population', 'city', 'country', 'continent', 'city_in_Spanish', 'city_in_Chinese', 'city_in_Arabic', 'city_in_Indonesian', 'city_in_Swahili', 'city_in_Tamil', 'city_in_Turkish', 'city_in_Finnish', 'city_in_Japanese', 'city_in_Korean', 'city_in_Vietnamese', 'city_in_Thai', 'city_in_Portuguese', 'city_in_French', 'en_posiciones', 'sp_posiciones', 'ch_posiciones', 'sw_posiciones', 'ta_posiciones', 'tr_posiciones', 'fn_posiciones', 'jp_posiciones', 'ko_posiciones', 'viet_posiciones', 'ar_posiciones', 'city_in_Indonesian_clean', 'id_posiciones', 'pt_posiciones', 'fr_posiciones']